[2020-05-10 18:53] madscientist159 commented on #898
@igorklopov Yes, qemu works fine:

`qemu-system-ppc64 -machine pseries -cpu power9 -nodefaults -nographic -serial stdio`

Note this can be painfully slow -- if you need to do any significant work on POWER you can get a small VPS over at https://www.integricloud.com , otherwise if there's a desire to have actual CI / ppc64le builds there is a possibility we could provide free access to a dedicated

[2020-05-12 09:31] jairodias commented on #304
Cara muito obrigado @sousadgaspar

[2020-05-12 10:01] patarapolw opened #907 "pkg shouldn't attempt multi-platform build. Multi-platform build should be on Docker Ubuntu/Wine."
Multi-platform build should be on Docker Ubuntu/Wine. Otherwise please provide an option to disable multi-platform build.

Currently, my solution have to be...

[code]

Otherwise, it will attempt to build multi-platform, even if I have SQLite (which need `*.node` binaries).

[2020-05-13 17:08] St1myL opened #908 "Syntax requires enabling one of the following parser plugin(s): 'flow, typescript'"
I just started using zeit/pkg with next.js and got an error:

[code]

package.json:

[code]

[2020-05-13 20:33] St1myL commented on #908
I removed unnecessary packages and the problem is gone =|

[2020-05-13 20:33] #908 closed

[2020-05-15 00:59] toothbrush7777777 commented on #895
I have the same(?) issue. I have `"type": "module"` in my `package.json`.

[2020-05-15 13:57] krische commented on #897
Have you had any luck with this issue? I think I am running into the same problem.

[2020-05-15 15:12] vincss commented on #342
Hi there !
It's a bit old now, but, did someone found a proper fix ?

[2020-05-19 07:39] FarhadMohseni commented on #194
by the unclear explanation of the others , her is a dirty way to do that , you can open the file with a Hex editor (HxD for example ) and search for the strings , pick the ones you want and modify that in another file  .

[2020-05-19 14:47] animaonline commented on #872
Any updates?

[2020-05-20 18:09] MatanYemini commented on #764
I have the same issue while running it using docker terminal.
My system time is correct, and if I try to execute npm install in my terminal it works.
Seems weird, know how to fix? @DimitrijeManic

[2020-05-21 07:43] RogerKang opened #909 "child_process.fork with execArgv '--max-old-space-size' fail"
test.js:
[code]
forkChild.js:
[code]
and pkg.json:
[code]

And build with pkg:
`pkg -t node12-macos-x64 -o test -c pkg.json test.js`
then run:
`./test`
Exception shown:
[code]

If we remove execArgv from test.js, it will be ok.
So I think this issue is caused by pkg's handling about child_process fork?

[2020-05-21 11:49] onny commented on #422
Encounter this issue too using pkg 4.8.8 and npm 6.14.5, nodejs 14.3.0

[2020-05-21 13:20] JulioYu commented on #705
root/
|- index-win.exe
|- prebuilds
   |- win32-x64
      |- node.node.abi64.uv1.glibc.node
      |- libsodium.dll

But what else if I have several native addons requirement in my project?
it cannot recognize and load the correct addons when needed,
because all the addons were placing to the same prebuilds folder.

[2020-05-22 00:29] EdwinJ0124 opened #910 "puppeteer-extra-stealth-plugin support?"
recently tried to run pkg with puppeteer stealth plugin however its just giving me the error with "A plugin listed 'puppeteer-extra-plugin-stealth/evasions/chrome.runtime' as dependency,
          which is currently missing. Please install it:"

[2020-05-22 05:55] psaxena opened #911 "Does not compile libxmljsmodule for linux"
Hi,

I am using "pkg" node module to compile my node application into exe for windows and linux. I am able to run my app on windows using "xmljs.node" along with node-app.exe in same folder.. But on linux, I get error :

`[[31merror[39m]: uncaughtException: /root/ResourceService/xmljs.node: invalid ELF header
Error: /root/ResourceService/xmljs.node: invalid ELF header
    at Object.Module._exten

[2020-05-22 19:10] jkutianski opened #912 "ref-napi native module prebuild"
The [ref-napi module](https://github.com/node-ffi-napi/ref-napi) has prebuild native module.
When I run my code fails with this message (Yes I copied the .node on the same folder as exe).
This module is a subdependency of [active-win module](https://github.com/sindresorhus/active-win)

    at Function.path (C:\snapshot\Nueva carpeta (4)\node_modules\node-gyp-build\index.js:56:9)
    at load (C:\sn

[2020-05-23 03:18] diginfo opened #913 "Cannot read property 'toLowerCase' of undefined when executing"
Not really sure where to start debugging this ??

[code]

[2020-05-23 03:34] #913 closed

[2020-05-23 21:41] DanielRuf opened #914 "Possibility to strip Node"
Is it possible to strip Node from the generated binary so users can execute this with any Node binary (for example a pure Node binary)?

[2020-05-23 21:51] TooTallNate commented on #914
Basically what you're asking for is [`ncc`](https://github.com/zeit/ncc).

[2020-05-23 22:22] DanielRuf commented on #914
Right, I found it after some further research. Maybe this should be mentioned and linked in the docs ;-)

[2020-05-23 22:22] #914 closed

[2020-05-25 11:05] animaonline commented on #735
Any updates?

[2020-05-25 12:52] mursang commented on #661
did you solve this?

[2020-05-26 02:25] tackelua opened #915 "Error: Cannot find module 'puppeteer-extra-plugin-stealth'"
I try to package the nodejs app with puppeteer extra but get the error.

[code]

[2020-05-26 05:34] SchnitzelPommes opened #916 "Possible to use typicode/lowdb"
Hello,
I saw ppl asking about an external config file which was possible. My question is is it possible to use something like typicode/lowdb ? The files can not be stored and modified  in the compiled exe I guess so they should be stored outside its that possible?

[2020-05-26 07:37] nikoskleidis opened #917 "Nextjs v9.4.0 gives 404 for static pages when pkg-ed"
# Bug report
## Describe the bug

I use pkg to package my nextjs app.
When I upgraded to version 9.4.0 from 9.3.6 the static pages I tried to access were all redirecting to the 404 page.
SSR pages work as expected on 9.4.0.
Also everything works as expected on dev mode
## To Reproduce

1. Go to this [repo](https://github.com/nikoskleidis/pkg-test)
2. On master branch run yarn install, yarn build,

[2020-05-26 15:36] SchnitzelPommes commented on #916
Yes it is possible and works without any changes to the code.
Perfect thank you very much

[2020-05-26 15:36] #916 closed

[2020-05-26 17:51] urdeveloper commented on #161
@mrthebunny , Thank you very much for sharing your solution.

I'm using `edge-js` and had the same error "Error: Module did not self-register".

Once I changed the binding settings `win_delay_load_hook` to `true `in `node_modules/edge-js/binding.gyp` and rebuilt it, it started to work.

I didn't rename my packaged executable to `node.exe` nor used `rid.exe`. I also didn't change `pkg `configuratio

[2020-05-27 02:40] stripedpajamas commented on #897
Having exactly the same issue (same stack trace); @igorklopov what are you suggesting? If I want my pkg'd app to `spawn` an instance of itself, how should it be done?

I've tried these and they both throw `MODULE_NOT_FOUND` looking for `arg1`:
[code]

[2020-05-27 15:34] unepicgames commented on #270
h

[2020-05-28 11:10] nikoskleidis commented on #917
If it helps the error started after this commit on nextjs
https://github.com/vercel/next.js/pull/12026/commits/2e1044f85d1413baf8e0d0e14944632f47125335

[2020-05-28 11:15] nikoskleidis commented on #455
Yes nextjs is almost unusable with pkg after this commit
https://github.com/vercel/next.js/pull/12026/commits/2e1044f85d1413baf8e0d0e14944632f47125335
You cannot read static pages through pkg at all. Only server side rendered ones

[2020-05-30 02:20] tronjsdev commented on #917
it works if you add a empty getStaticProps to the page:
[code]

[2020-05-30 05:16] nikoskleidis commented on #917
@tronjsdev thanks for your answer. I am aware of this and this is the workaround we currently follow. But it shouldn't be the case. Also nextjs doesn't let you put getInitialProps to 404 page. 404 needs to be static. So we currently don't have a custom 404 page.

[2020-05-30 12:18] tronjsdev commented on #917
maybe you're confusing between `getInitialProps` and `getStaticProps` or somethings I was missing?
Doesn't nextjs will pre-render the page with `getStaticProps` declared and therefore it should be static?

[2020-05-31 09:27] dtzq01 commented on #323
Here I downloaded the wrong Node.js binaries(from https://nodejs.org/download/release/) due to can not download bin automatically, it should be here(https://github.com/vercel/pkg-fetch/releases).

AssertionError [ERR_ASSERTION]: Placeholder for not found
    at injectPlaceholder (C:\Users\XXX\AppData\Roaming\npm\node_modules\pkg\lib-es5\producer.js:46:37)
    at injectPlaceholders (C:\Users\XXX\Ap

[2020-05-31 19:21] veda-prakash opened #918 "exe file icon chmage"
to change icon of .exe file with replacing of node icon using resource hacker but is not working cmd popup and close window

Please let me know to change icon and description of exe file

[2020-05-31 19:21] #918 closed

[2020-06-01 07:46] civilizeddev opened #919 "How to keep class constructor signature?"
## Problem

It breaks some libraries that provide constructor parameter decorators relying on class signature.

## Source Code (main.ts)

[code]

## When running on ts-node-dev (Expected Result)

`console.log` printed this:

[code]

## When running on binary (Actual Result)

`console.log` printed this:

[code]

[2020-06-01 09:08] nikoskleidis commented on #917
Thanks @tronjsdev indeed I misunderstood what you said earlier. It seems to work now that the pages are SSG instead of static.
Thanks for taking the time to respond!

[2020-06-01 09:08] #917 closed

[2020-06-01 11:35] alexk111 opened #920 "Issues caused by .mjs (esm modules) in dependencies"
Getting `Failed to make bytecode node12-x64 for file ...` errors when building a package. I configured it to compile all modules as-is (assets) and only bytecode MY-MODULE which is a commonjs module and shouldn't have any issues by the following pkg settings:
[code]

Everything works as expected, excepting one thing. It keeps trying to make bytecode for dependencies specified in one of MY-MODULE d

[2020-06-01 13:19] davazp opened #921 "Generated binary exists with exit status 4"
I've built a simple binary out of a hello world. The binary exits with exit status 4 and does nothing else on my Mac OS X.

https://github.com/vercel/pkg/blob/463e58ddbb6a4944bdcda20cc517cfe789714130/prelude/bootstrap.js#L1314-L1316

Interestingly, the binary works if I run it as `root`.  Perhaps like system integrity protection could be preventing the normal running of the cachedData in `runInThi

[2020-06-01 15:24] alexk111 commented on #920
Sent a pull request enabling to overwrite `dependencies` properties of external modules from the root package.json.

Example for the above-mentioned scenario, when you need to disable bytecoding for ESM-MODULE from `dependencies` list of some MODULE your package depends on:
[code]

[2020-06-02 05:28] gmcdev commented on #439
I gave up and webpacked my node backend -- got it packaged. Still struggling with __dirname pathing to runtime assets, as __dirname is no more with type="module".

[2020-06-02 05:53] dtboy1995 commented on #687
Win10 The same issue

[2020-06-02 08:31] navigator117 opened #923 "--build option, support build from custom node.js source dir"
Is there any way to build base binaries from custom modified node.js source? in my project, a modified node.js with custom openssl dependences is in used.

[2020-06-02 10:25] narkhedek3 opened #924 "Not able to create executable on Power 9 machine [ppc64le]"
Following error I am getting when I have tried to create executable on ppc64le machine--

  node14-linux-ppc64, node14-macos-ppc64, node14-win-ppc64

  fetched-v14.0.0-linux-ppc64  [                    ] 0%

  https://github.com/zeit/pkg-fetch/releases/download/v2.6/uploaded-v2.6-node-v14.0.0-linux-ppc64

  {"tag":"v2.6","name":"uploaded-v2.6-node-v14.0.0-linux-ppc64"}

  {"tag":"v2.6","name":"upl

[2020-06-02 16:53] thebetternewt opened #925 "Packaged application cannot call external Linux command"
Hi,

I am using pkg to build a node/express server that uses [Carbone Reports](https://github.com/Ideolys/carbone) to generate pdf documents. Carbone reports relies on a local installation of LibreOffice.

I am able to generate reports as expected using "npm start". However, when I package the application with `pkg`, everything works, but the reports are never generated.

It seems as if the packag

[2020-06-02 22:28] davazp commented on #921
Turns out I had the environment variable `NODE_OPTIONS` customized like `--max_old_space_size=4096`.

I hope this helps somebody if they find a similar issue in the future!  Also, probably not a good idea to setup `NODE_OPTIONS` globally for all tools :-)

[2020-06-02 22:28] #921 closed

[2020-06-03 07:34] navigator117 commented on #923
found the answer by myself :)
download the right patch from here: https://github.com/vercel/pkg-fetch/tree/master/patches, and patch my modified node.js source with -p1 -i options. then compile sources to node binary. copy the node binary to ~/.pkg-cache/v2.6/built-v14.0.0-linux-x64, eg. call pkg with options: --build --targets host xxx.js, that's done! it will not download & build source from git

[2020-06-03 07:34] #923 closed

[2020-06-03 08:49] Dam998 commented on #910
I fix this by importing the plugin that stealth reference 1 by 1 (they are 11)
Or you can change tool to create exe, nexe doesn't give this error

[2020-06-03 09:36] DimitriCunev commented on #910
add this into your package.json
[code]

[2020-06-03 09:40] Dam998 commented on #910
Right @DimitriCunev
I didn't try it but it can work

However in the end I changed from pkg to nexe because pkg have problem with some es6 syntax and I have always to use await eval(`es6 function`) and I don't like it

[2020-06-03 11:21] x8core opened #926 "es6 modules"
Hi! What about to pkg of an app that use es6 modules? Is pkg correctly works with such apps?

[2020-06-03 13:26] cnyarx opened #927 "Can I read an apk file pkged in the snapshot file system with adb command?"
I'm trying to package appium with pkg.
It can be launched after pkg, but get some error:

Error: Command '/Users/xxx/Library/Android/sdk/platform-tools/adb -P 5037 -s xxx install -g /snapshot/appium/node_modules/io.appium.settings/apks/settings_apk-debug.apk' exited with code 1
[debug] [MJSONWP]     at ChildProcess.<anonymous> (/snapshot/appium/node_modules/teen_process/lib/exec.js:113:19)
[debug]

[2020-06-03 15:14] Dam998 commented on #915
See this [issue](https://github.com/vercel/pkg/issues/910)

[2020-06-03 21:48] flacohenao opened #928 "Can pkg exe can be opened?"
After compiling and bundled all toghether using PKG i wonder is someone with enoguh tech knowledge can open my exe and see all my bundled files?

[2020-06-05 09:34] narkhedek3 commented on #924
Issue is resolved problem. I have changed my node version after that it is working..😁

[2020-06-05 09:35] #924 closed

[2020-06-05 12:06] BlackHacks commented on #831
I solved this is issue today for a company project.
It's a bit hacky but gets the job done.
Steps:
- Run Webpack without obfuscation (turned off via Environmental variable)
- Run a script that parses the JS file as text and extract all requires to an array.
- Write array to file (reserved.txt).
- Run Webpack a second time with Obfuscation while setting reservedStrings to JSON.parse(fs.readFileSync

[2020-06-05 16:19] x8core commented on #895
same

[2020-06-06 19:31] elsbrock commented on #664
I am interested in that too. Is it possible to use this tool to create binaries that can be executed in "minimal" (as in: `FROM scratch` or similar) container images?

[2020-06-09 02:27] Ceeson commented on #388
thanks，it's works.  I use "process.cwd()" replace "__dirname" then it works.

[2020-06-09 09:23] lucavictor220 commented on #735
Having the same issue. It would be nice if someone can fix it.

[2020-06-09 09:48] HenryDinh86 commented on #735
Yeh mate. What version of node are you running atm? I revert back to version 8 and it worked for me.

[2020-06-09 16:28] lucavictor220 commented on #735
12.x. We made a big effort to migrate to 12.x. There is no way we are coming back to 8.x

[2020-06-11 01:26] marcj commented on #928
Yes

[2020-06-11 01:26] marcj commented on #926
Yes

[2020-06-11 01:27] flacohenao commented on #928
@marcj Any ideas how?

[2020-06-11 01:35] marcj commented on #928
Yes, it's pretty easy. I won't write a how-to about that. Why do you ask?

[2020-06-11 13:37] flacohenao commented on #928
Can you please contact me? danihenja@gmail.com?

[2020-06-11 13:37] #928 closed

[2020-06-12 07:02] darrensapalo commented on #377
I don't think that this is related to `module-alias` and is instead related to the usage of [native addons](https://github.com/vercel/pkg#native-addons) (native things in node that your application is using).

The recommendation from the readme says:

So prior to releasing, copy your dependencies from the `node_modules` folder and add them to the same directory of your executable file. That's what

[2020-06-12 07:03] darrensapalo commented on #456
I think that this is related to [native addons](https://github.com/vercel/pkg/issues/377#issuecomment-643104578).

[2020-06-12 07:10] darrensapalo commented on #896
This issue has been a [feature request since 2017](https://github.com/vercel/pkg/issues/249).

[2020-06-12 07:28] darrensapalo commented on #249
Hey everybody.

Did a bit of research and found that you can use [ef-tspm](https://github.com/ef-carbon/tspm) to revert [the module aliases made using typescript](https://dev.to/larswaechter/path-aliases-with-typescript-in-nodejs-4353).

[Reference](https://dev.to/darrensapalo/comment/108hk).

---

1. `npm install -D ef-tspm`
2. `tsc`
3. `ef-tspm`
4. `pkg .`

[2020-06-14 23:18] 1imad commented on #723
Did you find any solution for this? I'm facing the same issue.

[2020-06-15 06:11] Barkole opened #930 "Bug: Pkg does not create correct exe in docker"
I fail to build runnable binaries, if I run pkg on GitLab.com in a docker

I've <https://gitlab.com/Lepardo/simplewebspider-nodejs/-/blob/master/bin/build-pkg.sh> :

[code]

If I run it with `yarn build-pkg` on my local windows system. The exe file is running as expected.

In my gitlab build <https://gitlab.com/Lepardo/simplewebspider-nodejs/-/blob/master/.gitlab-ci.yml>

[code]

The exe file does

[2020-06-15 07:15] Barkole commented on #930
Regarding the output it's only an GitLab issue, if I pipe the debug output into a file, everything is fine, also the mentioned last lines are there.

But still the exe is not working. I just get an empty output. As it would not start anything

[2020-06-15 08:32] FengBryan commented on #229
Is this issue has any process？ I have same problem with use `node-canvas`.

[2020-06-15 09:08] darrensapalo commented on #930
I also experience the same thing. I was hoping to build the executables on an alpine docker image and downloading the built files (exe, etc) but it doesn't appear to be packaging everything necessary for the produced executable to run on its own (See: native add-ons, it might be related to your case). Even when I manually copied in the native add-ons, it still did not work (and also did not throw

[2020-06-15 11:06] Drnagrom opened #931 "Dependency updates"
How do I get all my dependencies in package.json to update whenever I run my pkg executable? I want my modules/packages to automatically update so when I distribute my executable, I can make changes to its code remotely if need be.

[2020-06-16 10:18] sgoll commented on #681
@ataft Unfortunately, `12.2.0` is still the latest prebuilt release for the `armv7` platform: https://github.com/vercel/pkg-fetch/releases

I myself was bitten by this issue just now.

[2020-06-16 14:13] luxferresum commented on #926
It seems not to work for me:
[code]

[2020-06-16 14:27] azryelryvel commented on #384
#93 is closed so i write here.
I mostly did what's written in #93 but so far it's not working for me.
I ran a node:12.16.1 container and installed pkg locally in it. In `node_modules/pkg-fetch/patches/node.v12.16.1.cpp.patch` , I removed the node_options.cc block which seems to be the one blocking the use of inspect.
Then i used the local pkg to build the application :
`node node_modules/pkg/lib-e

[2020-06-16 20:47] azryelryvel opened #932 "Using node option --inspect"
Hello!

From what i read, I understand that you removed debugging for security reasons, but is there a way to make it work anyway ? I read #93 and I don't think it's up to date anymore.

I ran a node:12.16.1 container and installed pkg locally in it.  In `node_modules/pkg-fetch/patches/node.v12.16.1.cpp.patch` , I removed the node_options.cc block which seemed to me to be the one blocking the use

[2020-06-17 09:35] s-a commented on #821
Studied this topic for while. Well it seams that every attempt to patch executable resources lead to damage file unless new resource binary size does not match original size. after path . After succesfull patch the exe errors with such as
[code]

So, might it be so easy that we just need to patch pkg entry point informations regarding new  resource binary size?

@Zireael  did found out more?

[2020-06-17 15:33] aperkaz commented on #52
Any updates on this? :question:

[2020-06-18 11:17] Impeekay opened #933 "odd behaviour with assets"
I was trying to work with `appmetrics` package. running into some issue while running it especially [here](https://github.com/RuntimeTools/appmetrics/blob/4862e6882e85b63ea22c55cb4b273f17ef4820cb/index.js#L295)

The stack trace
[code]
As I can see it is unable to use the shared object file in the plugins directory, but I've explicitly added them into the pkg by mentioning them as assets in package

[2020-06-18 13:13] aperkaz commented on #52
As an obfuscating alternative, you can try: https://github.com/OsamaAbbas/bytenode
Works pretty well with Electron.

[2020-06-18 13:47] stevenosse commented on #883
I had the same issue using node 8.10.0
After upgrading my node version to 10.13.0 the error was gone

[2020-06-18 20:00] pedrohenriquebr commented on #926
Maybe using Babel will works

[2020-06-18 20:05] pedrohenriquebr opened #934 "Executable metadata editing"
I would like to modify the executable metadata, including the icon file.

[2020-06-18 22:20] luxferresum commented on #926
sure, I could transform to AMD or common.js. But thats not the point here. Native ESM does *not* work.

[2020-06-21 18:00] pavelfeldman commented on #676
@igorklopov, others, is there a workaround for this? I'm trying to run https://github.com/microsoft/playwright and it heavily relies on `function.toString()`.

[2020-06-21 18:10] igorklopov commented on #676
If source code is stripped while packaging, then `toString` has nothing to show, that's why `[native code]`. But if you force pkg to leave source code for that js file, then `toString` will likely work as in node.js environment. For example `--public` option leaves source code of most js files intact. Also you can use any kind of config (package.json or something.json with `-c something.json`) and

[2020-06-21 19:59] pavelfeldman commented on #676
Awesome, thanks @igorklopov , worked like a charm!

[2020-06-23 01:38] yyyyffqqqq opened #935 "Warning Cannot include addon %1 into executable?"
The addon must be distributed with executable as %2.
  %1: /Users/fqy/Downloads/mediasoup-demo-3/server/node_modules/fsevents/build/Release/fse.node
  %2: path-to-executable/fse.node

  The addon must be distributed with executable as %2.
  %1: /Users/fqy/Downloads/mediasoup-demo-3/server/node_modules/heapdump/build/Release/addon.node
  %2: path-to-executable/addon.node

  The addon must be distri

[2020-06-23 05:27] Daniel-Olivier commented on #926
Which version of Node JS are you targeting when building your project?

[2020-06-23 05:30] Daniel-Olivier commented on #899
Which node_module specifically is it unable to find? Also can you please include the code that has the require/import statement attempting to load that module?

[2020-06-23 19:30] BinaryShrub opened #936 "[QUESTION] Packaging another exe file"
I am trying to package an exe to execute via `child_process` but I cant seem to locate the file during runtime. I cant run `child_process.exec` or I get a not found error and If I try to copy the file to the main filesystem I get an error like so:

[code]

Is it possible to bundle an exe asset to be executed like so? Does someone have an example of this working?

[2020-06-23 21:24] BinaryShrub commented on #936
https://github.com/vercel/pkg/issues/420 fixed my issue

[2020-06-23 21:24] #936 closed

[2020-06-24 07:34] robertsLando commented on #869
@vladiks https://github.com/robertsLando/pkg-binaries

[2020-06-25 11:43] ghost opened #937 "[FEATURE REQUEST] support new versions of nodejs"
after reading through https://github.com/nodejs/node/issues/29216,
Additional versions of patches (binaries) for the nodejs versions of 10.20.0+, 12.16.2+ could help with signing process for macos after packing with pkg.

[2020-06-25 11:45] EdenHermelin commented on #128
Did anyone succeed codesign after packing with pkg and would like to share (or update the documentation) with the solution?

the nexe solutions does not seem to work..

[2020-06-25 12:28] saurabh-deep commented on #128
@EdenHermelin - No, it just doesn't work with `pkg` and doesn't work with `nexe` either. We have had to use `node-packer` since the code signing is a must for us. Problem with `node-packer` is that it's limited till Node.js version 10.15.3. So, eventually we will have to move to pure Node.js itself.

[2020-06-25 16:06] robertsLando commented on #838
Maybe this can help: https://github.com/robertsLando/pkg-binaries

[2020-06-25 16:06] robertsLando commented on #584
Maybe this can help someone: https://github.com/robertsLando/pkg-binaries

[2020-06-25 19:43] lselden commented on #935
That warning means you need to copy those .node files to be in the same directory as your generated .exe file

[2020-06-26 07:43] shanmukhateja commented on #697
@psaxena did you figure out how to do this?

[2020-06-26 08:55] la9527 opened #938 "Error: require('fs').readdirSync( "/", { encoding: "utf8", withFileTypes: true } )"
`pkg` problem has been found. Please solve this problem.

  - my system is 'macOS catalina 10.15.3'.
  - node 12.16.3
  - pkg version 4.4.8

code)
[code]

exception)

[code]

[issue_readdirSync_withFileType.zip](https://github.com/vercel/pkg/files/4835955/issue_readdirSync_withFileType.zip)

Thank you for making a good program.

[2020-06-27 17:47] myishay commented on #903
I'm experiencing the same issue...

[2020-06-29 20:01] brunobg commented on #753
It's still happening.

[2020-06-30 07:22] dwasyluk commented on #128
It seems like the previous rename-and-sign solution (https://github.com/vercel/pkg/issues/128#issuecomment-500638834) no longer works so I'm back looking for new solutions.

[2020-06-30 07:26] bompi88 commented on #128
@dwasyluk I found this. I have not tested it yet, but it looks promising? https://github.com/dgiagio/warp

[2020-06-30 13:42] meetmangukiya commented on #250
Why is this issue linking itself? @RobLoach did you mean to link something else?

[2020-06-30 19:41] RobLoach commented on #250
Probably a wrong clipboard. I forget which issue I was originally attempting to link.

[2020-07-01 02:17] meetmangukiya commented on #250
Okay thanks, I was hoping someone solved this problem

[2020-07-01 05:23] RobLoach commented on #250
The best I could come up with was having the binary in the same directory. Seemed satisfactory for my use case.

[2020-07-01 17:02] bodyajoy commented on #374
hello!
did u solve that?

[2020-07-01 17:26] cjay567 commented on #374
hi! it's been a while since i've worked on this project. i don't think i ever managed to fix this issue; i think i learned it had something to do with my internet connection and then i tried it on a different computer and it worked. sorry. maybe try figuring out how to extend the length of self.options.executionTimeout in nightmare\lib\actions.js? that's the only thing i can think of

[2020-07-01 17:31] bodyajoy commented on #374
well.. my internet connection is well
compilled program after pkg with nightmare don't want to nightmare.evalute - always timeout

[2020-07-02 06:31] jingsam commented on #420
Hi, @igorklopov thanks for your great work. However, this issue is indeed a pain in our application and still not fixed for two years. Do you have any plans to get this issue to be solved, or suggest some work rounds. Many thanks and wish you a good day.

[2020-07-02 10:28] medikoo commented on #420
We workaround this issue by loading following patch at begin of main module: https://github.com/serverless/serverless/blob/94ff3b22ab13afc60fb4e672520b4db527ee0432/lib/utils/standalone-patch.js

[2020-07-04 15:39] Bleuzen commented on #917
Why is this closed? As far as I'm aware, you only found a workaround, but no solution yet. So this is still a bug which should get fixed, so what about re-opening this issue?

[2020-07-04 16:15] nikoskleidis commented on #917
This is a bug introduced by the upgrade of NextJS. So my thinking is that I shouldn't blame pkg for this issue. I opened the issue both in pkg and NextJS repos. In NextJS my issue was converted into a discussion by the maintainers so there isn't much a can do about it.

[2020-07-07 07:30] apriady commented on #910
Hi, can you share how you import it?

[2020-07-07 08:39] ohiogeek8215 opened #940 "Needs closed"

[2020-07-09 07:00] bompi88 commented on #128
This is also some great readings https://github.com/denoland/deno/issues/986#issuecomment-640121224

[2020-07-09 08:06] NurMarvin opened #941 "pnpm support"
It seems like pkg doesn't include indirect dependencies when those were installed using the pnpm package manager.
If e.g. the `chalk` module was installed using `pnpm add chalk` and then the project gets packaged into an executable with pkg, the resulting executable will fail to run with the error `Error: Cannot find module 'ansi-styles'`.

For easier reproduction purposes, here's a link to a repo

[2020-07-09 23:21] rmcvey commented on #128
@bompi88 and anyone else that hasn't checked out warp yet, allow me to save you some time. I spent half a day trying to get a [warp](https://github.com/dgiagio/warp) build signed last week. Long story short, it doesn't work, failing with the same error that pkg and others produce :(

I spent the rest of the day trying to get to the bottom of the issue and my working theory is that dynamically link

[2020-07-09 23:40] saurabh-deep commented on #128
@rmcvey - node-packer by @pmq20 works fine for us. We have been using it for a while now. It signs the binaries which are fine even for notarization. So, no issues with the hardened runtime as well. Event the binary size is less than half of what pkg generates.

Only issue is that the project has gone dormant. Latest support there is for Node version 8.x. There was an active fork maintained by @sl

[2020-07-10 02:52] chengsu commented on #305
I never meet this issue on linux using cmake-js, seems windows dedicated.

[2020-07-10 16:39] uvbeenzaned opened #942 "Pkgd node app process does not respond to SIGUSR1 as Nodes debugging guide says"
Is this purposeful or is it a bug in pkg?
See for normal behavior: [https://nodejs.org/en/docs/guides/debugging-getting-started/](https://nodejs.org/en/docs/guides/debugging-getting-started/)

To reproduce, launch an application packaged with `pkg` and run `kill -s SIGUSR1 pkg-app-pid` the process will exit with `User defined signal 1` instead of launching the debugger.

[2020-07-15 03:59] Alex-Mann commented on #872
Also interested in this. Does anyone know if the name is set in pkg or is it an artifact of using Node?

[2020-07-15 14:24] jgehrcke opened #943 "Cannot find module 'es-get-iterator'"
Used pkg@4.4.9 to do a build with the `pkg ...package.json` entry point. Cannot share details of that package.

Initially I got the following error upon execution:
[code]

That brought my attention to these two issues
- https://github.com/ljharb/es-get-iterator/issues/5
- https://github.com/vercel/ncc/issues/521

I managed to change our package in a way that we got rid of the `deep-equal` dependen

[2020-07-15 21:43] han0idx opened #944 "Cannot use regedit with PKG"
Im trying to compress my app.js to a standalone exe , i use this simple command:
`pkg app.js`

But i keep having this error:
`Error: vbscript process reported unknown error code 1`

i tried other solution but nothing works :( anyone know how to solve this ?

[2020-07-15 22:44] saostad commented on #835
same situation here. no-error, just command line come and goes away!

[2020-07-16 12:23] TimP4w commented on #930
Having the same problem here. Any ideas on how to fix this?

[2020-07-16 14:33] VandeurenGlenn commented on #935
I'm having the same issue, after copy stil fails

[2020-07-16 17:45] saostad commented on #779
I had exact same problem and it solved with command below:
[code]

[2020-07-16 17:46] saostad commented on #835
I had this problem and it solved with command below:
[code]

[2020-07-16 22:39] nihatyldz42 commented on #91
This is a big shortcoming.

[2020-07-17 08:06] artemcarabash commented on #91
as an option generate exe and also customize version-info.rc file using batch:
https://stackoverflow.com/a/58716971/4887252
just as a workaround, maybe it will be useful to someone

[2020-07-17 10:37] JanMalch commented on #542
I got the same issue. I specified the target as `node12.2-linux-armv7` but then it tries to fetch the Windows binary `fetched-v12.2.0-win-armv7`.

[2020-07-20 09:49] dstampfer commented on #933
I also have an issue with assets. To me, it seems that the asset config is completeley ignored?

[2020-07-20 13:12] dstampfer commented on #647
-config package.json saved my day. Did not know that one has to specify that manually.

[2020-07-20 13:21] Alko89 opened #947 "Adding scripts using command line argument"
Is it possible to add scripts as an argument to `pkg`?
I'm trying to make executables for our customers and each one might have some different includes, so I can't call pkg using `pkg .` or `pkg package.json`. I want to add a script for each company to build the executable, something like this:

[code]

[2020-07-20 17:54] abdelmaged opened #948 "Spawned base binary ignore LD_LIBRARY_PATH environment variable"
This line forces the spawned process to ignore all environment variables, this is not expected as LD_LIBRARY_PATH would contain needed paths to libstdc++ if build option was provided.

https://github.com/vercel/pkg/blob/f1eaf05c2af6bc9575327f5ac648c5f0388cd7e9/lib/fabricator.js#L60

[2020-07-22 07:07] EL-MTN commented on #835
There also appears to be a `fs` issue, where on macOS files can easily be created and deleted, but not on a Windows 10 machine.

[2020-07-22 14:14] johnharden opened #950 "Issue with duplicate names for .Node files (packaging .Node files with distribution)"
I'm currently working through an issue with utilizing ref-napi & ffi-api and bundling an executable for Windows where there are two .Node files I need packaged that have the same name.

[code]

The problem is that I cannot differentiate the `\ref-napi\prebuilds\win32-x64\node.napi.node` file and the `\ffi-napi\prebuilds\win32-x64\node.napi.node` file. This is causing me to be unable to package up

[2020-07-22 16:40] johnharden commented on #950
Unsolved, but found a solution that worked easier with this issue utilizing nexe.

[2020-07-22 16:40] #950 closed

[2020-07-22 17:38] albertmourato commented on #779
I faced the same problem!

[2020-07-22 18:37] jaredgorski commented on #779
Looks like this error happens in the `need()` function from `pkg-fetch` used in `lib/index.js` in this repo. Looking at `pkg-fetch`, the error is thrown when it doesn't find a matching version from this `patches.json` file (https://github.com/vercel/pkg-fetch/blob/b80b344757ea9b8c93ce9353dd57fa70bf8c67f0/patches/patches.json).

Try using a version from `patches.json` and it should work

[2020-07-23 03:19] zssng opened #951 "Copy internal resource to external"
I package a .exe as assets so i can call it later. But it cannot find the .exe at runtime.I try to copy the asset exe to external,also failed,but fs.existsSync is true.In a nutshell,how could i copy resource from snapshot filesystem to real filesystem?

[2020-07-23 04:25] zssng commented on #951
https://github.com/vercel/pkg/issues/420#issuecomment-397392619 I found this trick works

[2020-07-23 04:25] #951 closed

[2020-07-23 07:20] btsimonh commented on #950
for me (I'm a modified Nexe with lockjs), at unpack I give .node files a unique name on disk, and then when at dlopen, use that unique name.
The problem I have not (yet) overcome is that some stuff I package up has .dll dependencies, and sometimes those conflict.  This is more of a problem, because I can't rename them :(.  So WHEN I get to resolving the issue, I'm going to unpack the native deps i

[2020-07-23 13:13] CombatCode commented on #933
@dstampfer at least you saved my time, thank you bro

[2020-07-23 16:57] johnharden commented on #950
@btsimonh , yeah I'm only utilizing native windows 32 APIs in my package and no customized DLLs. My problem with renaming the .Node files wasn't that it was challenging, but it really ended up dropping support for any further upgrades with dependencies. Fortunately nexe, you just packed up a node_modules/ dir with the exe and bundle it all together in a zip (will put into a MSI next step), then sh

[2020-07-24 00:57] abdurrehman1998 opened #952 "Adding new files from client to public folder in packaged public folder not working"
Error: ENOENT: no such file or directory, open

[2020-07-24 12:43] CecleCW opened #953 "Application Crash"
My application was complied using PKG 4.3.8 with node.js version 10.4.1, also we applied native node module, but today my application was crashed, and here's the Windows event log

Faulting application name: worker.exe, version: 2.4.7.0, time stamp: 0x5b27ceab
Faulting module name: ntdll.dll, version: 6.3.9600.19153, time stamp: 0x5b93ffa7
Exception code: 0xc0000374
Fault offset: 0x00000000000f1cd

[2020-07-27 02:53] CecleCW commented on #953
@igorklopov any comments?

[2020-07-27 17:42] Alex-Mann commented on #872
It seems that this gets set either in this [file](https://github.com/nodejs/node/blob/8b4af64f50c5e41ce0155716f294c24ccdecad03/src/res/node.rc#L55) or this [file](https://github.com/nodejs/node/blob/242bfb6bfc21d571ac5eb14b3c7db1ac9bcb9ee8/doc/node.1#L33) on the NodeJS side.

[2020-07-28 01:04] vexorian commented on #753
What's the point of this if you have to build on the target OS? Might as well just give people the source code.

[2020-07-28 11:53] acidos opened #954 "Unable to compile app with -r esm"
I am using `esm` module for running my app. This is how I ran it.

    "scripts": {
        "start": "node -r esm src/index.js",

Now when I try to compile my app using [pkg](https://github.com/vercel/pkg/) with the following line

    pkg src/index.js -t node12-macos-x64 --options require=esm

I am getting the following errors for every file

    TypeError: require(...).internalModuleStat is not

[2020-07-28 15:06] mehdi-sh-hm commented on #646
Same issue

[2020-07-29 03:42] NotMoni opened #955 "Error: No native build was found for runtime"
![Screen Shot 2020-07-28 at 11 41 56 PM](https://user-images.githubusercontent.com/40552237/88754148-ec829080-d12b-11ea-938d-b02e5029b9ab.png)

I typed in `pkg src/block`.

Why does my binary files not work ?

[2020-07-29 23:01] matthewcoding0 opened #956 "Is it possible to hide the window that pops up after packaging my application?"
Basically the title. I want to hide the little command prompt window that pops up when I run my packaged application. Any help would be much appreciated.

[2020-07-30 13:33] NotMoni commented on #955
it has something to do with the https://github.com/wadey/node-microtime pkg

[2020-07-31 07:23] eGavr commented on #897
I am running into the same problem, any news?

[2020-07-31 09:02] Impeekay commented on #933
@dstampfer cool thanks, I'll take a look at that

[2020-07-31 11:11] NotMoni commented on #955
cc/ @CombatCode

[2020-07-31 14:53] rsmrahul1 commented on #927
@cnyarx Me also facing the same problem? Got any solution ?

[2020-08-01 19:53] Streeterxs opened #957 ".env files not being bundled into .exe file."
I'm trying to bundle on the .exe file using pkg's assets array in my package.json file.

![githubissue](https://user-images.githubusercontent.com/41974719/89109420-5c886380-d417-11ea-91da-c7ec40e8053c.png)

[2020-08-01 20:10] Streeterxs commented on #957
Nevermind, I was expecting another behavior.

[2020-08-01 20:10] #957 closed

[2020-08-01 20:19] BluLightShow commented on #955
What is your target platform and nodejs version

[2020-08-02 12:03] NotMoni commented on #955
@BluLightShow My target platform is MacOS and Windows with NodeJS 14

[2020-08-03 16:58] BluLightShow commented on #955
First I'd suggest trying NodeJS LTS v12

[2020-08-04 01:12] NotMoni commented on #955
Sure thing I'll cc you with the results

[2020-08-04 20:51] NotMoni commented on #955
Hey @BluLightShow
Here are the results...

![Screen Shot 2020-08-04 at 4 50 58 PM](https://user-images.githubusercontent.com/40552237/89343692-ad47c880-d672-11ea-962e-d0e1543799ba.png)

[2020-08-05 08:41] artemcarabash commented on #641
Faced the same issue after upgrading pkg to version 4.4.9.
Downgrated to 4.3.7 back and issue dissapeared. The only problem is that the 4.3.7 does not supports node12 but for me it doesnt matter.

[2020-08-05 12:33] ddorsett opened #958 "Snapshot file system incompatible with fs.promises API"
Switched from "classic" fs.readFile (or promisified version) to fs.promises and fs.promises.readFile() fails to find a file with ENOENT.
The file is definitely there, changing back to promisified fs.readFile() works fine.

Node 12.16.1, pkg 4.4.9

[2020-08-05 20:06] kingmatusevich commented on #312
same issue

[2020-08-05 22:04] acgray commented on #590
Also seeing this with bulma.sass.  Is there any way to exclude it from the build?

[2020-08-06 03:23] anseki commented on #383
Hi, thank you for the very great tool!

I also need an option that excludes files.
Or, selecting files like Tree Shaking of JS packer such as Webpack is better.
I want to use Google Firebase but the library is very big. That contains all sub products but I want only one product.

[2020-08-06 18:59] Lwdthe1 commented on #694
@benpetsch's fix worked for me

[2020-08-08 08:13] daraboon opened #959 "How do i can protect my source code before packaging?"
Hi
It is necessary to protect my source codes before packaging projects.
Is that protect codes in this library(packaging) or not?
Thanks

[2020-08-10 16:19] webdevmorgan commented on #883
I am on node v14.7.0 and I am still seeing the issue.

[2020-08-12 14:47] lebanggit opened #960 "Can i run command line with executable file in snapshot file system?"
I have small tool compress image with **[compress-images](https://www.npmjs.com/package/compress-images)**

I work fine via nomarl run ex: node img-compress.js.

However, It is  error with executable file made by pkg.

On log i see it run command line:

`F:\snapshot\compress-images\node_modules\mozjpeg\vendor\cjpeg.exe -quality 60 -outfile C:/image/13933686331665122661-
compress/0001.jpeg C:/image

[2020-08-12 18:34] viiralelite opened #961 "node_modules/figlet/fonts/Standard.flf' was not included into executable at compilation stage. Please recompile adding it as asset or script."
After trying to build it I get this error when trying to run it

pkg/prelude/bootstrap.js:266
  if (error) throw error;
             ^

Error: File '/**/Tear#1261/node_modules/figlet/fonts/Standard.flf' was not included into executable at compilation stage. Please recompile adding it as asset or script.
    at error_ENOENT (pkg/prelude/bootstrap.js:426:17)
    at readFileFromSnapshot (pkg/prelude/

[2020-08-12 19:10] viiralelite commented on #961
this is in my package
"bin":"./app.js",
  "pkg": {
    "assets": [ "./node_modules/figlet/fonts/Standard.flf,", "./termconfig/xterm.generic.js" ]

  },

[2020-08-12 20:29] zsteinerjc commented on #883
Same on v12.16.1

[2020-08-13 14:03] inayatu commented on #961
Same issue. My package.json
`"pkg": {
        "assets": "error_pages/*"
    }`

[2020-08-14 12:26] MichaelLeeHobbs commented on #930
This is not limited to gitlab. The same issue in BitBucket build pipelines which uses Docker containers.

[2020-08-16 22:17] #961 closed

[2020-08-16 22:17] viiralelite commented on #961
fixed it

[2020-08-16 22:29] therealtear opened #962 "having issues adding and using fs"
im receiving this error
An error occurred:
Error: File or directory '/**/Tear#1261/codes.json' was not included into executable at compilation stage. Please recompile adding it as asset or script.
this is my package.json
 "bin": "./app.js",
  "pkg": {
    "assets": [
      "*html",
      "libs/*",
      "utils/*",
      "docs/*",
      "images/*",
      "util/*",
      "node_modules/**/*",
      "

[2020-08-16 22:30] viiralelite commented on #959
no

[2020-08-16 22:30] viiralelite commented on #959
if your really concerned just use an obfuscator

[2020-08-17 12:44] gurisko commented on #709
Hi @gautaz . I bumped into this too. It is a mismatch between your `NODE_OPTIONS` variable and the built executable. I managed to work around this by unsetting the variable before building.

[2020-08-17 12:55] gautaz commented on #709
Thanks @gurisko, since then we have moved to nexe but perhaps we'll go back to pkg later on :-).

[2020-08-17 16:11] amitco2468 opened #963 "I want to compile all my files in ./commands/**/*.js"
I want to compile all my files in ./commands/**/*.js I try to add it in scripts but it's show the error of dynamic files.
and I dont want to require all my files cuz i have A LOT of files.
I just want it to be automuticly.

Thanks for helping.

[2020-08-17 19:37] khoiminhpham commented on #848
node12-alpine-x64 and node10-alpine-x64 both give Segmentation fault when execute ./app
For now I have to find alternatives for all features that only work with node 10 in my source code. Hope we can fix this soon.

[2020-08-18 04:53] narkhedek3 opened #964 "executable is returning segmentation fault"
# Environment Details:
- Arch: PPC64
- OS: cent os 7
- pkg: 4.4.9
- node: 8.17.0
- npm:6.14.7

# Issue:
I am using the following command to create executable
[code]
It is creating executable successfully.
but the executable is returning segmentation fault (core dumped) after some time.

the same code if I run with ```node file-name.js``` it is running without any crash.
The issue is related to PPC

[2020-08-18 08:37] omid-student commented on #959
Thank you, How can I obfuscate codes?

[2020-08-20 04:44] sarkar4540 opened #965 "Getting console output and error messages."
When I make an executable with pkg, the executable runs fine but there is no console I/O. Is there any option to get the I/O (outputs especially) from the binary?

[2020-08-20 04:54] #965 closed

[2020-08-20 08:28] diginfo opened #966 "childProcess exec() fails on packaged app, but ok when run as node app"
Been trying to debug this all day, this command works fine when the app is executed using node, or when it is executed in the console, but when it is packaged up and executed it refuses to execute.

And the error data is not really very helpful, it simply says that the command failed, and as far as I can see there's no indication as to why !

[code]

[code]

any idea on what the issue may be ?

[2020-08-20 10:47] ctsdickson opened #967 "Fail to compile armv7 linux"
My project can be built under macos environment, but fail to build nodexx-linux-armv7 under Raspberrypi 5.4.51-v7 armv7l Machine, which hang in "make" command a very long time with zero progress over 1 hour.

Command line:
      pkg -t node12-linux-armv7

Output:

  fetched-v12.18.1-linux-armv7 [                    ] 0%

  https://github.com/zeit/pkg-fetch/releases/download/v2.6/uploaded-v2.6-node

[2020-08-20 12:07] diginfo commented on #966
Solved, this had nothing to do with pkg, and was related to the home folder of the user, although I don't know why it did not pickup the default.

export HOME=/myhome && /usr/lib/libreoffice/program/soffice.bin --headless --convert-to pdf --outdir /usr/share/dev/nodejs/src/xx/data/public/udata/ /usr/share/dev/nodejs/src/xx/data/public/files/1597894080138.xlsx

[2020-08-20 12:07] #966 closed

[2020-08-21 04:23] AlexanderTunick commented on #883
Happens to me with node 12.18.3...

[2020-08-24 07:52] 4567q opened #968 "Error: File was not included into executable at compilation stage. Please recompile adding it as asset or script."
Can't solve the problem what could be the matter

`[Модули]: Отсутствуют зависимости, перезапустите программу или обратитесь за помощью к разработчику
Error: File 'C:\**\BoostMachine\node_modules\steam-client\steam-resources\steam_language_parser\steammsg.steamd' was not included into executable at compilation stage. Please recompile adding it as asset or script.
    at error_ENOENT (pkg/prelude/b

[2020-08-24 15:08] AndoGhevian commented on #900
Maybe this can help you - [OpenTerm](https://www.npmjs.com/package/open-term).

[2020-08-24 15:41] AndoGhevian commented on #525
I wrote a package for this, maybe it can help you, I also wrote a usage example for **pkg**, here are the links - [OpenTerm](https://www.npmjs.com/package/open-term) and [Usage example with pkg](https://github.com/AndoGhevian/VT-pkg).

[2020-08-25 04:33] tnhh00037 commented on #833
Instead of `import { your-thing } from 'module-name'`
You can try `import { your-thing } from ' /absolute-path-to-project/node-modules/module-name'`
It will import directly from that path

[2020-08-26 00:46] rizkyramadhan commented on #941
Can we make this work, pretty please ?

[2020-08-27 11:45] cupcakearmy opened #969 "Target parses wrong platform -> impossible arm builds"
## Problem

The `--target` directive parses the input bad, making arm build on macOS basically impossible.

The latest release from https://github.com/vercel/pkg-fetch/releases for armv7 is: `node-v12.2.0-linux-armv7`

## Reproduce

[code]

[code]

[code]

Is there a way to simply set the download version manually?

[2020-08-28 04:15] davidlares commented on #962
+1

[2020-08-30 02:50] Marksteinsong commented on #912
I have the same issue, do you fix it ?

[2020-08-30 04:28] jkutianski commented on #912
Nope.

[2020-08-31 23:20] JeanCarlosChavarriaHughes commented on #967
I am receiving a similar issue for target: node12-linux-armv7.

[code]

[2020-08-31 23:54] JeanCarlosChavarriaHughes commented on #802
@bittnkr   @Visp1024
So in order to make this work, we must either
- set a parameter in the package.json called bin.
- pass the --config package.json flag.

https://stackoverflow.com/questions/45790664/how-to-package-nodejs-project-into-an-executable-with-zeit-pkg-npm-package

[2020-09-01 13:49] mandarspringct commented on #961
How did you fix it? Any pointers?

[2020-09-01 22:07] AngeloMateus commented on #322
Hey I'm running into this issue how did you fix it?

[2020-09-02 08:05] perminoveugenehuawei commented on #893
Almsot the same issue for me. Proto files do not includes in build, but I defined them into assets

[2020-09-03 02:26] xfoxfu commented on #322
That’s pretty long ago, I cannot recall what happened then. Sorry.

[2020-09-03 12:00] karl0ss commented on #893
I seemed to fix this by specifying the file explicitly that I neeed...

[code]

[2020-09-03 12:55] ryanaltair commented on #420
this work with pkg 4.4.9
with node14

[2020-09-03 13:09] lemoncalamitous commented on #229
Same issue on my end when packaging my app with `bcrypt`. I'll wait if a fix is in progress on this.

[2020-09-04 03:46] nubuntu commented on #340
![image](https://user-images.githubusercontent.com/1622745/92197362-bc9d7a00-ee9b-11ea-97c6-cfc92fb8715e.png)
So bad, you can read the js source clearly, how can we avoid this?

[2020-09-04 11:50] kietheros opened #970 "How to add an asset which a node module uses"
My project uses a library (youtube-dl) which has some code
`
const defaultBin = path.join(__dirname, '..', 'bin')
const defaultPath = path.join(defaultBin, 'details')
`
When run executable file, I got the error
_**myapp/node_modules/youtube-dl/bin/details was not included into executable at compilation stage. Please recompile adding it as asset or script.**_
Really, I have read "Assets" in docs bu

[2020-09-04 17:08] #970 closed

[2020-09-04 17:10] kietheros commented on #970
Add "assets" in package.json
To build a file
pkg  -t node12-linux  -c package.json app.js

[2020-09-07 15:15] chainhead opened #971 "Unable to build binary on Mac for Linux x86 32 bit target"
I have a simple module as below.

**`index.js`**

[code]

I am building with `pkg -t latest-linux-x86 index.js` on MacOS Catalina and this is the error I get.

[code]

What am I missing?

[2020-09-08 06:03] 1181649328 commented on #952
+1

[2020-09-08 06:04] 1181649328 commented on #952
Error: ENOENT: no such file or directory, open 'C:\Windows\System32\index.exe'
[90m    at Object.openSync (fs.js:457:3)[39m
[90m    at internal/bootstrap/pkg.js:35:17[39m
[90m    at internal/bootstrap/pkg.js:43:4[39m
[90m    at internal/bootstrap/pkg.js:44:2[39m {
  errno: [33m-4058[39m,
  syscall: [32m'open'[39m,
  code: [32m'ENOENT'[39m,
  path: [32m'C:\\Windows\\System32\\index.e

[2020-09-08 06:46] 1181649328 commented on #952
The program I packaged was 32-bit but ran on 64-bit, and it caused the error

[2020-09-08 07:58] jonohayon commented on #943
That's interesting, I have the exact same issue but I thought it was specific to our project. I've been looking for a problem specific in my build for two days now and thought I was going nuts 😅

[2020-09-10 04:09] vitaly-agriocom opened #972 "Cannot compile v12 for armv7 because it is trying to download non existing windows binary"
![image](https://user-images.githubusercontent.com/71056826/92680792-61b5c800-f35e-11ea-9f32-bdac8c772ce8.png)

[2020-09-10 05:32] ljharb commented on #943
This seems like a vercel bug. `deep-equal`, and its use of `es-get-iterator`, all works properly.

Note, though, that `es-get-iterator` makes extensive (backwards compatible) usage of the "browser" and "exports" fields, so perhaps vercel's support for those is buggy?

[2020-09-10 15:28] raphtlw commented on #952
+1 same issue here

[2020-09-10 21:13] DgDtKrzyBt opened #973 "Error when running packaged app with a module which uses edge-js produces error "Error: Module did not self-register""
I am using [win-cert](https://www.npmjs.com/package/win-cert) that uses [Edge-js](https://www.npmjs.com/package/edge-js).

I run the packager.

I manually copy the `.node` files to the dist folder.

I execute created exe.

I receive the following error:
[code]
Following is in package.json
[code]
And this is the build command in `package.json` I use to package the application:
[code]
I note that wh

[2020-09-10 21:59] DgDtKrzyBt commented on #973
Here is a repro project with a simpler scenario. Only references edge-js.

[edgeGround.zip](https://github.com/vercel/pkg/files/5204833/edgeGround.zip)

[2020-09-11 14:46] chainhead opened #974 "Unable to build binary for Raspberry Pi Model B Rev 2"
I was going through this thread [on cross-compilation](https://github.com/vercel/pkg/issues/145#issuecomment-311150484) for building the binary for Raspberry Pi on Mac. I used the `examples/express` folder to test the cross-compilation.

This is what I get with `pkg package.json -t node8-linux-armv6 --no-bytecode`.

[code]

So, I am not sure, if the thread on cross-compilation still holds.

For my

[2020-09-12 04:53] chainhead commented on #974
Ignoring the warnings `Failed to make bytecode`, I ran the binary any way; only to get a `Segmentation fault`. What am I missing?

[2020-09-12 04:53] #971 closed

[2020-09-12 04:56] chainhead commented on #969
The [`pkg-binaries`](https://github.com/robertsLando/pkg-binaries) repo has pre-built binaries. You could download and save it in the `.pkg-cache/vx.x` folder and then try to build. You will have to rename the binary into something that `pkg` expects.

[2020-09-12 09:32] sunaram opened #975 "Can't pkg with playwright framework"
I am trying to package my script that uses playwright (https://github.com/microsoft/playwright) into an exe file.
I am using pkg v4.4.9
My pkg config looks like this
[code]
When I try to execute the exe file, it gives an error message like this
[code]

What do you think should I be doing to fix this?

[2020-09-12 10:34] RogerKang commented on #969
Met same issue.
When I specify targrt to armv7 on Macos, it will always try to fetch both armv7 & macos binaries which will definitely fail because there is no macos built binaris based on arm right now(yes, it will in the future because Apple has launch its arm based Mac project).
basically:

pkg --targets node12.2.0-linux-armv7 index.js

  fetched-v12.2.0-linux-armv7  [====================] 100%

[2020-09-12 10:55] hasparus commented on #954
Hey @acidos, I'm getting the same error when running `hasura metadata export` in Hasura CLI.
This is the only place I could find. Have you found a root cause of the problem? Something wrong with Node installation?

[2020-09-12 11:43] acidos commented on #954
@hasparus no, I gave up...

[2020-09-14 08:31] zhushenhang commented on #229
yes,I encountered the same problem as you while using bcrypt, how did you solve it?
thank you.

[2020-09-14 08:35] zhushenhang commented on #935
works for me . thank you

[2020-09-14 15:07] ctsdickson commented on #967
I confirmed that it cannot do cross compile armv7 in other OS like macos.

And I can build armv7 version at Raspberry Pi now, last time fail just because I don't have patient to wait for the result, it require several hours to compile the node js in Pi4. After compile succeed, node js bin will be installed in the hidden directory "/home/pi/.pkg-cache/v2.6/built-v12.18.1-linux-armv7", so rebuild no

[2020-09-14 20:28] lbertoncello opened #976 "Unexpected token 'export' - lodash-es (Failed to make bytecode)"
After running the following command using pkg 4.4.9

`pkg -t node12-win .\src\app.js --debug`

 I've got the following error:

export { default as add } from './add.js';
^^^^^^

    at new Script (vm.js:89:7)
    at Socket.<anonymous> ([eval]:18:19)
    at Socket.emit (events.js:315:20)
    at addChunk (_stream_readable.js:295:12)
    at readableAddChunk (_stream_readable.js:271:9)
    at Socket.R

[2020-09-15 13:39] DontAskM8 commented on #802
anyone actually found a fix for this ? All the assets are imported but the express app is trying to access the views from the exe's dir and not from the asset

[2020-09-15 23:23] absalomedia commented on #930
Can rconfirm this issue in Bitbucket Pipelines

[2020-09-16 03:55] JeanCarlosChavarriaHughes commented on #802
Please check this comment and advice: https://github.com/vercel/pkg/issues/802#issuecomment-684107947  I was able to fix the issue by passing ```--config package.json``` and using the bin parameters, like mentioned in Stack Overflow's link

[2020-09-16 05:34] #517 closed

[2020-09-18 09:40] DontAskM8 commented on #802
Yea i did that. Its importing everything into the assets but its trying to access it from the directory! Probably didnt understand my question. I moved the exe to lets say desktop and the app is requiring ./files it just shows cannot find C:/Desktop/files. While everything is already imported into the exe when i check the log

[2020-09-18 22:45] evanmosby commented on #455
BTW: this issue doesn't appear on Windows targets (v 4.3.4)

[2020-09-21 00:45] Reda1000 commented on #974
Easiest & Fastest way:
You can look a little around and you will probably find someone already compiling the binaries you need (i.e. https://github.com/vercel/pkg/issues/658). Place it in your pkg-cache-folder should do i.e. "~/.pkg-cache/v2.6/built-v12.18.1-linux-armv7".

Otherwise as stated here https://github.com/vercel/pkg/issues/605 this project is not capable of cross-cpu-compilation. Makes

[2020-09-21 00:47] Reda1000 commented on #967
Looks like you solved your issue?

Be aware that cross-cpu-compilation is not possible (refer https://github.com/vercel/pkg/issues/605) - I guess your macos is not running on armv7 to "cross-compile" for linux armv7.

Otherwise you are right the build on raspberry takes quite some hours.

[2020-09-21 09:50] perminoveugenehuawei commented on #909
Same issue. Any workarounds?

[2020-09-22 02:18] chainhead commented on #974
Firstly, it is [`armv6`](https://raspberrypi.stackexchange.com/a/83379/11789). Secondly, I have tried with the approach of downloading the binary and placing it in the cache location. That didn't work; see the post details.

Tried that too; 30 hours later got an error with `ld` command.

[2020-09-22 06:46] Reda1000 commented on #974
Could you describe how you downloaded and were you have put the Release Asset?

Have you tried with this Asset:
https://github.com/yao-pkg/pkg-binaries/releases/download/v1.0.0/fetched-v8.16.0-linux-armv6

[2020-09-23 14:58] Reda1000 commented on #422
I just used some container with
- arm32v7
- ubuntu:18.04
- npm@6.14.6
- node@v12.18.3
 - pkg of version 4.4.9
and got an ENOENT error like above as well. As workaround I had to downgrade to 4.4.8 to get it work. Maybe helping others - but I think the original reason for this ticket two years ago might have been another root-cause.

Btw. another container with x64 seems to work with 4.4.9.

[2020-09-23 19:33] marikaner commented on #954
I had the same issue and it was only happening when I ran it from the terminal in VSCode. In a separate terminal it worked. (Changing the shell in VSCode didn't help either).

[2020-09-24 11:33] noguilty4you commented on #926
@Daniel-Olivier Hi, I had some issue with {type: module} and .mjs/.js files. Node version was 14.4, pkg target was `node14-alpine-x64`

[2020-09-24 12:56] perminoveugenehuawei commented on #909
I've found workaround - you can use worker_threads module and provide max old space size via resourceLimits option. https://nodejs.org/dist/latest-v12.x/docs/api/worker_threads.html#worker_threads_worker_resourcelimits

[2020-09-25 05:00] KaoSDlanor commented on #926
Hi @noguilty4you

Are you experiencing the exact same issue and receiving `SyntaxError: Unexpected token export` errors?

[2020-09-25 05:02] Daniel-Olivier commented on #926
Hi @noguilty4you

Are you experiencing the exact same issue and receiving SyntaxError: Unexpected token export errors?

[2020-09-25 17:22] saveroo commented on #910
I have this problem as well but for serverless.

[2020-09-25 18:00] noguilty4you commented on #926
@Daniel-Olivier, yes. Yesterday I refactored the whole project to using commonjs modules and so I have no problems =(

[2020-09-26 04:26] D0wzy commented on #961
But how ??

[2020-09-26 15:41] vrqq commented on #204
With the ```--public``` argument, it works. (But I am not sure the effect of this argument)
The code like ```await atag.evaluate( (e) => e.click());``` is available to run without error like 'Passed function is not well-serializable'.

[2020-09-29 02:58] chainhead commented on #974
@Reda1000  hmm...I had downloaded from here https://github.com/yao-pkg/pkg-binaries/releases

It was placed under the `.pkg-cache`, I think. Basically, I followed the instructions as mentioned in that repo.

[2020-09-29 18:29] jailsonsilveira commented on #967
The build process on raspberry took hours and the make compilation of node binaries stucks in 0% and literally jumps to 100% after some hours. But the process works

[2020-10-01 12:25] Vlad-Apostolov commented on #912
I also hit the same problem.

[2020-10-02 05:45] nirmal98kumar commented on #968
Same kinda issue I am facing .

[2020-10-02 07:45] Vlad-Apostolov commented on #912
Ok, I figured it out. The .node files have to be in the same folder as the exe file, but they also need to be included in the package.json file. In my case I have 3 .node files:

  "pkg": {
      "assets": [
        "./public/**/*",
        "./libRtiProxy64.dll",
        "./node_modules/ffi-napi/prebuilds/win32-x64/node.napi.uv1.node",
        "./node_modules/ref/build/Release/binding.node",

[2020-10-03 23:40] 220ish opened #978 "Custom Title Bar for PKG"
Hi there,

Ik it's not really an issue but is there any solution for custom Title Bar like Electron has? It would be a cool feature to have in an application.

[2020-10-04 16:09] jkutianski commented on #912
Doesn't work fo me.

[2020-10-04 18:51] IndiumCrypto commented on #262
Problem solved 10/10 good content guys.

[2020-10-05 12:38] daraboon opened #979 "Embed string in exe file"
Hi
Can I embed string in exe file for preventing hacking?
Thanks

[2020-10-05 12:44] MegaGangster opened #980 "Create exe with txt file in it too"
I'm creating a account generator and I want to make it exe pkg, but the problem is that my code takes the accounts from a accounts.txt file so when I make it exe it will not find the txt file, there is any solutions?

[2020-10-05 17:28] lili2311 commented on #893
👋 I am also having issues.

I tried every which way to include it:
- full relative path
- with a glob pattern

What else is needed? This seems to work fine in other repos I have that use this but not this time.

## package.json
[code]

## Command
After running `pkg .` I get the error

## Error
[code]
## Version
pkg@4.4.9

[2020-10-05 17:47] lili2311 commented on #961
Related? https://github.com/vercel/pkg/issues/893

[2020-10-08 06:38] dheerajaggarwal commented on #407
I have faced the same issue when using the `js-yaml` dependency in my project. More specifically `js-yaml` uses the `esprima` dependency that was causing the issue.

I am not using the Node-Red project. But I found the same dependency `js-yaml` over here as well so I thought to share this information.

[2020-10-08 17:13] ryanrhee commented on #455
I'm still running into this. Is there any progress here?

[2020-10-09 06:25] aateek-albanero commented on #980
I don't know if you have tried assets. I had a similar use case where I wanted fetch a `.env` file.
Just try to refer it in related .js file using path.join(), see [Detecting assets in source code](https://www.npmjs.com/package/pkg#detecting-assets-in-source-code)

[2020-10-09 10:26] shyser commented on #229
This is my solution:

[code]

[2020-10-11 11:01] sunaram commented on #980
Let's assume your  entry script app.js needs to load accounts.txt, rather than doing
`const filePath = "accounts.txt";`
do
[code]
Assuming accountx.txt  is in the root folder

[2020-10-11 14:43] JAGFx commented on #943
A solution have found ?

[2020-10-12 07:37] animaonline commented on #735
Any updates on this?

[2020-10-13 18:03] sushant-at-nitor opened #982 "pkg ncc output"
I am compiling `dist` using `@vercel/ncc` into `bundle`, I am running pkg on `bundle/index.js`.

It is breaking at following line:

`if (global.GENTLY) __webpack_require__(94120) = GENTLY.hijack(require);`

with error: `Error! Invalid left-hand side in assignment expression`

[2020-10-14 05:56] kkoomen commented on #935
The command I use is `pkg dist/index.js -t node10-linux-x64,node10-macos-x64,node10-win-x64` and then I copied all my `.node` files from my node_modules directory into my dist folder + also my root folder where the `index-*` files will be, and still get this warning.

How can this be solved?

[2020-10-14 10:36] jgehrcke commented on #596
We are working with `inlineSourceMap` set to `true` when compiling our TypeScript code and when not using pkg we get 'correct' stack traces (with TS line numbers) -- after pkg bundling, however, for some of our code all we see are bad stack traces (with JS line numbers). Still cannot tell for sure -- stack traces happening in the entry point module look right, but further down the dependency tree

[2020-10-14 13:13] jfl1977 commented on #642
To fix this issue, I simply added the native modules that I need in the assets of my pkg like so (in my package.json):
"assets": "node_modules/@saleae/**"

[2020-10-15 01:12] realeve commented on #935
same with you.

[2020-10-15 13:10] robotic1 commented on #183
When making use of pkg@4.4.9 to produce a redistributable binary of a node.js project, the following error occurs when trying to use tesseract.js@2.1.4
internal/modules/cjs/loader.js:636
    throw err;
    ^
Error: Cannot find module 'C:\betting\test_pkg\--debug-port=9230'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:634:15)
    at Function.Module._resolveFilename (pkg/p

[2020-10-15 13:41] robotic1 commented on #903
I'm experiencing the same issue...

[2020-10-16 14:56] kkoomen commented on #935
I can confirm that #837 can fix this problem.

[2020-10-17 10:43] FrankenApps commented on #151
This is possible if you edit the node base binary in `.pkg-cache` with ResourceHacker (not the executable) and then build your app again.
You can also edit stuff like manufacturer, etc. (Version Info).
The cache folder should be located in `C:\Users\<username>\.pkg-cache\<version>\` be sure to edit the node binary, that you specified in --targets.
This was initially discussed [here](https://github

[2020-10-17 20:24] kingdevnl opened #983 "Build executable contains raw source of the app. when viewing in a text/hex editor"
So i build a executable
The exe seems to contain the source code from the build app
![KyD9k5u](https://user-images.githubusercontent.com/29375261/96352915-ae13c680-10c7-11eb-8aef-59950cacb907.png)

[2020-10-18 02:57] matheusm821 commented on #976
same error here

[2020-10-18 06:03] axolo opened #984 "Cannot support ES8 Optional chaining (?.)"
[code]

[2020-10-18 16:03] qmenoret commented on #944
The regedit module uses some scripts that needs to be found by your packaged output.
Try to have a look to: https://github.com/ironSource/node-regedit#a-note-about-electron

[2020-10-21 07:30] KSchala commented on #912
had the same problem, which was solved by adding the prebuilds to the assets in package.json
[code]

[2020-10-21 07:48] kkoomen opened #985 "Linux: tree_sitter_runtime_binding.node: invalid ELF header"
See [kkoomen/vim-doge#112](https://github.com/kkoomen/vim-doge/issues/112)

Any idea?

[2020-10-21 13:45] xanonid commented on #958
@igorklopov There should be a warning on the front-side README.md that the fs.promises API is not (yet?) supported. Is there a plan/roadmap when it will be implemented?

[2020-10-22 01:59] kkoomen commented on #985
Invalid. Closing.

[2020-10-22 01:59] #985 closed

[2020-10-22 07:33] nouvist commented on #340
Pass `-d` to pkg command line to see if a file was placed with source code or not. As as rule, `node_modules` goes with sources as there are permissive licenses and no `private: true` in packages there. Top-level code (your code) goes without source if you use `private: true`

_Originally posted by @igorklopov in https://github.com/vercel/pkg/issues/194#issuecomment-322138139_

@nubuntu only node_

[2020-10-22 09:49] jgehrcke opened #986 "NodeJS 14 targets: out-of-date binaries (14.4.0 vs 14.14.0)"
This is about the "base binaries" that are described in this paragraph (https://github.com/vercel/pkg#build):

When using `--targets node14-linux-x64 node14-macos-x64` we -- as of today -- by default get NodeJS 14.4.0-based binaries. This has been the case for a while and I was hoping for an update of these binaries to happen at some point.

When will you update these binaries to be based on a mor

[2020-10-22 21:32] Anouomgharbivsseagjdzzvz opened #987 "Bxvnnbx Gvbhdf"
3KFHPR23vYtn9mBjgheQMpTWzNVe

[2020-10-22 21:39] Anouomgharbivsseagjdzzvz opened #988 "د"
ملتقط بواسطة XRecorder: https://recorder.page.link/Best![Edited_٢٠٢٠١٠٢٣_٠٠٣٧٠٨.jpg](https://user-images.githubusercontent.com/18543862/96932758-139cf400-14c8-11eb-90cd-e2157c94e00d.jpg)د

[2020-10-24 01:32] billtlee opened #989 "Help with packaging a project"
Hi,

I am playing with pkg and when I try to run the executable, I got an error saying one of the required components is not available.  Can someone please let me know what I might be doing wrong?

Here is the link to the git repository:

https://github.com/billtlee/ginit

Thanks in advance!

[2020-10-24 04:53] appurist opened #990 "Default target should use latest supported, not latest node"
First, thank you so much for `pkg`. It is a bit of pure heaven sent in the hell that is JavaScript packaging tools. (!)

It seems that this:
[code]
produces an error under Node 15, while this:
[code]
does not.

I would have thought that the default target node version was `latest`, not the one installed, especially since `-t latest` pins it to Node 14.

I updated my project to:
[code]
but it seems

[2020-10-25 05:55] monotykamary commented on #986
You probably have to refer to the [https://github.com/vercel/pkg-fetch](pkg-fetch) repository as that is where the patches are applied to the base source.

If you have time, you can contribute and help out; I honestly think they need to setup a more convenient way to CI their patch rebases, but testing and fixing patches is not trivial, especially when there are new Node releases practically every

[2020-10-25 13:22] validity-check opened #991 "Is there any way to keep the packaged app open after execution finishes?"
Hello, I have an application which asks for some input and then returns the result it or creates a new file for it. And, with pkg, it works flawlessly and beautifully.

But with the option to return the result, I need to keep the executable open after it finishes. I don't want to have to make it wait for a certain amount of time, I just want it to be closed at the user's own discretion.

Is there

[2020-10-26 10:42] DigitalMarc commented on #578
@nombrekeff may I ask what library you've been using instead?

[2020-10-26 10:51] nombrekeff commented on #578
@DigitalMarc
I can't find it right now, but it was an alternative to pkg. I think it was [nexe](https://github.com/nexe/nexe) but I'm not 100% certain.

[2020-10-26 11:30] #987 closed

[2020-10-26 18:20] jgehrcke commented on #986
Thanks for the comment @monotykamary!

[2020-10-27 07:44] KaoSDlanor commented on #578
@liudonghua123 the Node JS install .msi file is basically a .zip archive with some additional functionality. You can even open .msi files with most archive programs like 7zip. That is why the installer is smaller than your packaged binary. You are welcome to zip it after packaging to reduce its size. I build many packaged binaries into Debian installers and they shrink there too

@nombrekeff I sus

[2020-10-27 14:55] validity-check commented on #991
I added a "press any key to exit feature".

[2020-10-27 14:55] #991 closed

[2020-10-28 02:54] 313364973 commented on #963
thanks too

[2020-10-28 02:58] 313364973 commented on #817
tanks too

[2020-10-29 11:09] timsuchanek commented on #639
We have the same issue for the `prisma` CLI.

[2020-10-30 04:45] perrywang commented on #443
I can confirm this. The simplest workaround is always pkg project on C: driver.

[2020-10-30 17:14] ant2006 opened #993 "Error: Cannot find module 'C:UsersMeDesktopDiscord Bot.config.json'"
I'm trying to make a simple discord bot, code is here: https://pastebin.pl/view/70d6f679

And i get this error: https://pastebin.pl/view/b73c9bd1

My config.json file is in the same folder as the main bot file, the config is saved as config.json, i can't think of anything else to try to fix it.

Note: I'm very new to js, so please clearly explain your answers. Thanks!

[2020-10-30 18:09] saostad opened #994 "[Question] can I put my secrets in the compiled .exe file"
Hi,
can I put my secrets like DB passwords in the compiled .exe file?
I know technically I can put anything in my code and compile it but want to know is it recommended or not?
and how easy is to read the code content from the .exe file after I compile it?

[2020-10-31 18:39] josiahbryan commented on #932
:+1: Curious, did you ever find a way to do this?

[2020-10-31 18:43] josiahbryan commented on #984
I personally use rollup/babel to build/transpile my code into a "more widely supported" version before using pkg - this could help you.

Personally, I write all my code using the latest supported node at work (Node 12 in my case), but for our target devices, we have to use Node 8 (due to GCC ver on the embedded device.)

Therefore, I use rollup to transpile my development code down to something th

[2020-10-31 18:48] josiahbryan commented on #972
Only way I've been able to build for armv7 is using a linux build host. Go grab a Digitial Ocean VM for $5 USD/mo or something and build on that ...works great. Personally, I have an old linux laptop on my wifi in my closet that I use as a build host - wrote a simple bash script to copy the javascript to build to the linux laptop, build the arm binary, then download the arm binary back to my Mac.

[2020-10-31 18:50] josiahbryan commented on #959
https://lmgtfy.app/?q=obfuscate+javascript

[2020-11-01 14:56] AykutSarac commented on #978
You can use process.title

[2020-11-01 16:51] TomasHubelbauer commented on #439
@gmcdev `__dirname` can be obtained from `module.import` in ESM modules, but unfortunately, it looks like that doesn't work either:

It is the same with `--options require=ems` and `--options experimental-modules`. I notice @FranklinYu has posted about the same problem some time ago already so I don't think this will get anytime soon, unfortunately.

[2020-11-02 12:54] Ks89 commented on #681
I'm having the same issue. The latest release available for ARMv7 is 12.2.0 and it's very old and affected by this issue.
Is it possible to update prebuilt releases for ARMV7 adding both 12 and 14 latest stable releases (they are both LTS).

thank u.

[2020-11-02 13:01] Ks89 opened #995 "Prebuilt ARMv7 binaries are very old and affected by "Random call stack size exceeded" error on NodeJs 12.2.0"
Is it possible to update prebuilt binaries for ARMv7? The current version on NodeJs 12.2.0 is affected by this frustrating issue https://github.com/vercel/pkg/issues/681.

Could you upload prebuilt binaries for NodeJs 12.x.x LTS (latest version) and NodeJs 14.x.x LTS (latest version)?

thank you.

[2020-11-02 19:55] TomasHubelbauer commented on #521
This issue comes up on Google when searching for *node pkg error reading from file*. I get this error message when using `rcedit` with the generated Windows executable to set the executable icon. Prior to patching the executable's resources to set the icon, it works just fine as generated by PKG. After applying the icon resource, this error happens. There are some other links about this error onli

[2020-11-03 08:58] chrisamin commented on #872
I would also be interested to know if there's a way to achieve this. With nexe I could just set process.title to a name of my choice (on Linux), but for some reason the same thing doesn't work with pkg.

[2020-11-03 09:17] balupton commented on #204
So combing the above with the official puppeteer documentation, it is actually easier:

[code]

[2020-11-03 11:19] Arya4514 commented on #883
After Updating Node version Rebuild node packages
[code]

Link to the Answer of [stackoverflow](https://stackoverflow.com/a/53615183)

This worked for me easily

[2020-11-03 14:05] SnakeDrak commented on #954
It seems [**NODE_OPTIONS**](https://nodejs.org/api/cli.html#cli_node_options_options) is read by the `node` inside of the `pkg`, so if you have any special option or bootstrap included on that environment variable, it could generate conflicts with the `node` inside the `pkg` (with the debugger, for example).

In my case, that **NODE_OPTIPONS** was in my particular environment defined by **VSCode**

[2020-11-03 19:10] lselden commented on #994
See #340 - Don't do it!

[2020-11-03 19:13] lselden commented on #989
My guess is that one of your dependencies includes a native addon - pkg will warn about that. Otherwise it may be that pkg couldn't detect some source files - check the README about how to include. Otherwise you might get more help if you include the actual error message.

[2020-11-03 19:14] lselden commented on #983
see related issue #340 - known behavior

[2020-11-04 00:59] saostad commented on #994
I understood the source code is available to end-user if they open the .exe file in hex editor like vscode.
one solution is to use tools like [JavaScript Obfuscator Tool](https://obfuscator.io/)

[2020-11-04 00:59] #994 closed

[2020-11-04 14:54] DJCoolDev commented on #993
This error means that pkg couldn't find your file, so pkg couldn't find your config, this is because you probably only converted the file without the config. To fix this error, take a look at the https://github.com/vercel/pkg#Config and https://github.com/vercel/pkg#assets

[2020-11-04 14:55] DJCoolDev commented on #963
Take a look at https://github.com/vercel/pkg#assets

[2020-11-05 09:03] swwind opened #997 "Support top-level-await"
[code]

[2020-11-05 15:39] 3DGISKing opened #998 "How to build the binary same as uploaded-v2.6-node-v10.17.0-win-64"
Hi,
Thank you for this great project.
I need to build the binary based on Node js 10.17.0 from scratch on Windows 64.
Actually, I want to build and get the result the same as uploaded-v2.6-node-v10.17.0-win-64 from the source.
But the result was different from the uploaded-v2.6-node-v10.17.0-win-64.
They are different in raw size.

What I tried
1 Install pkg-fetch 2.6.4
2 install Python 2.7.17
3 i

[2020-11-05 16:33] redbrain opened #999 "Excessively large binaries being created?"
A 'hello world' in Node.js taking less than 1 KB has a 69 MB binary when compiled using pkg.
For your convenience, you can see the source, steps I took, and resulting binary [here](https://github.com/redbrain/helloworldpkg/).
I'm assuming this is because pkg is forced to bundle all of Node.js with the binaries.
**Is there a way to make simple binaries smaller**, maybe by using a smaller Node sourc

[2020-11-05 21:50] litch0 opened #1000 "Is it possible to compile the app to a version of it that don't come with the nodejs executable?"
I am making an app that will be run by people that have nodejs installed on their computer, is there any way to compile the program to a specific file (like jsc |Javascript compiled| ) and then using a function (inside another javascript file) load this file and run it?

[2020-11-05 22:02] redbrain commented on #1000
If you use `module.exports` to export the program's functions, you can then `require()` it inside another js file and run it that way.
pkg isn't needed for this, as it's meant to compile binaries that are bundled with Node.

[2020-11-06 12:55] litch0 commented on #1000
OK Thanks

[2020-11-06 12:55] #1000 closed

[2020-11-06 16:26] gireeshpunathil commented on #998
short answer: download and unzip this and build from it:
https://nodejs.org/download/release/v10.17.0/node-v10.17.0.tar.gz

long answer:
 - https://nodejs.org/
 - other download option
 - previous releases
 - select `Node.js 10.17.0` or any desired version
 - select `downloads` link
 - along with the built binaries, the source tar is also provided

hope this helps!

[2020-11-06 16:31] 3DGISKing commented on #998
thank you for your response.
but I have already tried this.
but my build output was different from the pre-built binary by pkg-fetch in size.
any tip?

is the following build command right?
cmd /c vcbuild.bat x64 noetw nosign noperfctr

[2020-11-06 16:37] gireeshpunathil commented on #998
that I don't know, from the source perspective, they should be the same

I think they (Node.js release team) builds with just `vcbuild.bat` , and with no params. (I am not 100% sure though), may be worth trying that

[2020-11-06 18:40] 3DGISKing commented on #998
thanks

[2020-11-08 19:13] redbrain commented on #993
If you're on Windows, try doubling the slashes in your file path

[2020-11-09 01:17] redbrain commented on #975
take a look at #420 , it might work for you to bundle complex things like runtimes

[2020-11-09 21:25] simonnilsson commented on #999
Compiling Node.js with `--without-intl` will reduce the size considerably. With the downside of the Internationalization API being unavailable. So if not using Intl (or modules that depend on it) this could be an option.

Using current master branch of Node.js (v16.0.0-pre)
* Normal: **74MB**
* Without Intl: **41MB**

It would be nice if pkg had an argument to use such a build, and also include th

[2020-11-09 23:41] sunaram commented on #975
Thanks. I just needed to use environment variable to set the correct path to the executable and it took care of everything.
I added the following code at the top of the entry script (app.js in my case)
[code]
Of course, I installed my browser executables by setting the path to "pw-browsers" dir in the script directory.

[2020-11-09 23:41] #975 closed

[2020-11-10 09:33] rthangam opened #1001 "sql executable path gets changed due to __dirname manipulation by pkg"
We have developed a tool using node js, the tool needs to invoke sql executables. The tool works fine, but when we try to package it using pkg module we see that it changes __dirname variable.
For example "/Users/rthangam/src/sql" becomes "/snapshot/rthangam/src/sql"

How to avoid this manipulation by pkg?

Is there any substitue for __dirname because we need the path of the file which is getting

[2020-11-10 20:34] roguedronegithub commented on #409
hi

[2020-11-10 21:37] redbrain commented on #999
Thanks. I'll try to find a way to get pkg to accept a smaller/custom node source, and if it does I might write a PR

[2020-11-11 13:03] vmsp opened #1002 "Executable not being correctly added as an asset"
I have a simple script `test.js` that calls another executable - `roots.exe`. If I understood correctly, `pkg` should be able to embed `roots.exe` in the executable it produces as an asset but this doesn't seem to be working. The files are:

###### test.js
[code]

###### package.json
[code]

Everything builds without errors and the final, `test.exe`, executable is produced. The build's logs are be

[2020-11-12 03:41] winie-hy commented on #229
So is there a proper solution? This problem has been bothering me for a long time, and I have been unable to package the Node. js file

[2020-11-12 03:42] winie-hy commented on #229
Warning Cannot include directory %1 into executable.
  The directory must be distributed with executable as %2.
  %1: node_modules\puppeteer\.local-chromium
  %2: path-to-executable/puppetee

Hope to get help

[2020-11-12 03:55] winie-hy commented on #229
and my index.js was  this:
const puppeteer = require('puppeteer');
var fs = require("fs");

puppeteer.launch({headless:false}).then(async browser => {
    const page = await browser.newPage();
    await page.goto('https:www.baidu.com');

    let html = await page.content()
    // other actions...
    // fs.writeFileSync(path.join(__dirname, 'm.txt'), html.toString(),'utf-8')

});

[2020-11-12 09:04] somuelle-tmt commented on #1002
You can't start exe processes from snapshot filesystem

[2020-11-12 09:04] somuelle-tmt commented on #988
?

[2020-11-13 06:09] pxim opened #1003 "How to change the snapshot path with build ？"
Now my project is in disk E. after PKG is packaged and generated, his snapshot address is locked in disk E. if other computers do not have e-disk, an error will be reported. I do not want to change the project disk directory. I want to change the snapshot address to Disk C or relative path.
Is there any way ?

pkg：v4.4.9

[2020-11-13 18:05] l10r commented on #910
Thank you soo much

[2020-11-14 00:02] FinlayDaG33k commented on #857
Is there a way to do this for entire directories as well?

[2020-11-17 05:43] rthangam commented on #1002
I am also facing the same issue when i try to package sql executable. Even from snapshot filesystem. #1001 is the issue number

[2020-11-17 08:23] somuelle-tmt commented on #1001
For example, you can write your executable files somewhere in the normal file system before executing them, e.g. TEMP

[2020-11-17 09:58] rthangam commented on #1001
Are you saying we need to create a TEMP directory ? Can it pickup from there ? Can you explain in detail ?

[2020-11-17 16:12] #1002 closed

[2020-11-17 19:19] mewforest commented on #910
It doesn't work for me :(

[2020-11-18 02:29] chenfan19 opened #1004 "Why I get error"
It says  "Error! connect ETIMEDOUT 192.30.255.113:443"

If I try it again, the ip address will be changed.

[2020-11-18 02:30] chenfan19 commented on #1004
full text:

  node12-linux-x64, node12-macos-x64, node12-win-x64

  fetched-v12.18.1-linux-x64   [                    ] 0%

  {"tag":"v2.6","name":"uploaded-v2.6-node-v12.18.1-linux-x64"}

[2020-11-18 06:17] rthangam commented on #1004
Check if you are on VPN and you haven't set proxy ?

[2020-11-18 09:32] rthangam opened #1005 "How to execute an executable after packaging ?"
I need to package sql (Oracle) executable in a node js project. The executable will be invoked by the node js project. I could see that sql is getting packaged, but when it is getting invoked it fails because the path doesn't exist, how this issue can be fixed ?

/users/rthangam/src/apps/sqlcl/bin/sql is the executable path, but after packaging it tries to use

/snapshot/rthangam/src/apps/sqlcl/bi

[2020-11-23 06:32] marutichintan commented on #903
I am also facing Same Issue.

[2020-11-24 19:50] edwardfoyle commented on #376
I was able to combine the suggestions of @matthieukern and @Akkadius into this fairly simple workaround using [execa](https://www.npmjs.com/package/execa) (I'm sure it can be done just using the native child_process as well):
[code]

[2020-11-25 17:44] tvolodimir commented on #941
I have the same issue in my project. Does someone found a workaround for this?

[2020-11-26 05:46] JaosnHsieh commented on #893
this works after i added to `package.json`

[code]

and build with `pkg .`

[2020-11-26 10:18] JahsonKim commented on #245
I have followed all the above suggestions but still getting the same issue.

`Error: Failed to lookup view "./user/Login" in views directory "/snapshot/web/src/views"
    at Function.render (/snapshot/web/node_modules/express/lib/application.js:580:17)
    at ServerResponse.render (/snapshot/web/node_modules/express/lib/response.js:1012:7)
    at /snapshot/web/src/WebAPI/WebRoutes/PublicHandler.js

[2020-11-26 12:04] ronnaf commented on #783
hi @danielamiir! i'm trying to package a create-react-app typescript project. can you share what config you ended up using? thank you!

[2020-11-26 13:42] hktr92 commented on #959
@omid-student i just paired pkg with esbuild in two steps: first, the bundling with minification. then, pkg comes in action for this file and does the job nicely. i am, though, concerned about some js code that is not minified in the binary file, having 72 mb of file in the end. but still, it's cool to have this library at all. :)

[2020-11-26 13:50] hktr92 commented on #890
well... it IS portable, but your code won't work. it's because windows cmd (as any other in linux or mac os) looks for executables in a special variable called `PATH`, and if it's not there, it wont work.

to demonstrate this, write a simple hello world in c and try to execute it via js. then rename the hello world exe to something else and it will fail.

it's basic programming regarding dependenc

[2020-11-27 08:02] bogdan-calapod commented on #662
@Innomalist how/where did you find this ? The documentation is a bit lacking on this one 😕

[2020-11-27 08:03] bogdan-calapod commented on #662
For anyone looking for a solution for this, the first argument from `process.argv` gives the complete path to your executable, including the filename.

[2020-11-27 08:10] innomal commented on #662
@bogdan-calapod Under "Snapshot filesystem" in `README.md` you can find how to do so.

[2020-11-27 16:42] WoodySlum commented on #943
Any update on this ?

[2020-11-28 07:47] nileshbhope opened #1006 "Options with Prof not working"
Hi,

Below is command I used to generate node executable with options prof.

"pkg package.json --targets node12-win-x64,node12-linux-x64 --options prof"

pkg version -> 4.4.9

But when I try to execute generated executable, it exited application without any error. For Node 8 & 10 version its giving Flag Mismatch error. But for node 12 it just exited executable without any error. Though it have gen

[2020-11-29 09:02] aerben commented on #958
This took me two days to figure out.
It should most definitely be a warning on the README.

[2020-11-30 13:46] kaziu687 commented on #967
The same on latest Raspbian on pi 4 (with node 14).

[2020-11-30 14:56] micaelillos commented on #663
Is there a proper solution for this ?

[2020-11-30 15:20] micaelillos commented on #642
Does not work

[2020-12-01 20:33] Anjr0o commented on #935
@VandeurenGlenn @kkoomen Updating to version 14 or 15 of node and compiling to "node12-win-x64" will fix the issue _after_ copying the .node files.  If you try to compile to node 13 or 14 it won't work.

[2020-12-02 11:08] Shogan commented on #961
Yes, it seems so. I fixed this particular issue by directly including the node_modules path to the figlet Standard.flf font file as mentioned in that thread.

Here is my working pkg config for **package.json**, that fixes this particular error:

[code]

Hope that helps.

[2020-12-02 14:24] kkoomen commented on #935
@Anjr0o You can use [my fork](https://github.com/kkoomen/pkg) and then you are able to compile to any version.

[2020-12-02 16:39] lili2311 opened #1007 "Error! This experimental syntax requires enabling one of the following parser plugin(s): 'flow, typescript' (6:7)"

[2020-12-02 16:41] #1007 closed

[2020-12-02 19:51] Akiyamka commented on #439
Still fail
[code]

[2020-12-03 13:47] jonathanasquier commented on #857
@carlhaman method works, using ncp works out of the box for coping folders @FinlayDaG33k, probably using the mechanism under the hood.

[2020-12-03 14:44] FinlayDaG33k commented on #857
@jonathanasquier Yea, in the end I just used a `glob` and a `for` loop to extract all files (I want to minimize the amount of extra dependencies):
[code]

[2020-12-05 09:31] arminbarazesh opened #1008 "no support for node version 15"
using latest version of "pkg" installed, when trying to build my app with node version 15, got this response:

  node15-linux-x64, node15-macos-x64, node15-win-x64

it seems node version 15 is not supported yet! there are many optional chaining cases in my code, so i have to use node version later than 14.

[2020-12-05 21:53] jon301 commented on #954
Hey @hasparus , I encountered the same error with `hasura metadata export`.
Did you manage to find a solution ?

[2020-12-07 10:19] sowmenappd commented on #487
Has anyone been able to solve this yet? Apart from the solution suggested by @robertsLando, I mean.

[2020-12-07 13:21] axe312ger commented on #487
Nope, sadly we just display the path to open to the CLI and linux users have to open the path on their own. All other OS will open browser and direct the user to the page we want them to look at.

[2020-12-07 20:30] arminbarazesh commented on #986
@jgehrcke  do you have any suggestion for building a node version 15 app?
it seems pkg doesn't support version above 12!

[2020-12-09 02:01] billtlee commented on #989
@lselden
Thanks for getting back!  The pkg command actually works and does create the executables.  However when I run the executable on my mac for example, I am getting the following error:

pkg/prelude/bootstrap.js:1244
      throw error;
      ^

Error [ERR_INSPECTOR_NOT_AVAILABLE]: Inspector is not available
    at inspector.js:24:9
    at NativeModule.compileForInternalLoader (internal/bootst

[2020-12-09 21:59] rstar2 commented on #958
Same with me. Super annoying that there's no proper warning what and while - especially when you package a third-side module (like jsdom)  and you don't control the source.

[2020-12-10 01:08] JohnLevander opened #1010 "Serving dynamically generated files? (e.g. Swagger)"
When my node app runs using the normal node server, there are resources that are generated/added at runtime (specifically I'm talking about Swagger classes like swagger-ui.css).  That is, these files do not ever exist in my directory structure, but they are available via http://mysite//swaggerui/swagger-ui.css.

When I run, instead, as an executable generated by pkg, everything works great except

[2020-12-10 14:03] lselden commented on #989
Looks like you're trying to use --inspect, or a package you're using is trying to use the inspector, which is disabled by pkg. See #93

[2020-12-10 14:15] lselden commented on #1010
I'm guessing you're using swagger-ui-express, so you're ending up triggering [this line](https://github.com/swagger-api/swagger-ui/blob/master/swagger-ui-dist-package/absolute-path.js) at some point, which uses `__dirname`. That will use the current [Snapshot path](https://github.com/vercel/pkg#snapshot-filesystem), rather than looking at a disk file location.

1. If the problem is it isn't findin

[2020-12-10 14:19] lselden commented on #1008
Node version support is tracked over in the [pkg-fetch](https://github.com/vercel/pkg-fetch/issues) repo. pkg tends to target LTS releases instead of the old-numbered node.js releases (it'd be a lot of work to keep up with a moving target codebase).

You can try forking pkg + pkg-release to contribute to the development process if you're into C++, or use a transpiler like Typescript or Babel.

[2020-12-10 14:23] lselden commented on #1005
Look at the [Snapshot filesystem](https://github.com/vercel/pkg#snapshot-filesystem) section in the docs - basically use `process.execPath` instead of `__dirname` to resolve your relative path.

If you're trying to package the executable as an `asset` then you'll need to copy it to disk before trying to execute it - the os can't read pkg's virtual file system. Keep in mind antivirus scanners make

[2020-12-10 14:28] lselden commented on #1003
That sounds like you have a path hardcoded somewhere - pkg doesn't care about the drive it was originally located on. Check out the [Snapshot filesystem](https://github.com/vercel/pkg#snapshot-filesystem) for how to resolve paths relatively (`process.execPath` is your friend).

[2020-12-11 05:06] rthangam commented on #1005
Thanks but the issue is even when i pack as an asset it is not working. Let's say the relative path is ./tool/bin/sql when i pack it
there is no problem but when i execute the path changes to ./snapshot/tool/bin/sql and that is where it breaks since this path doesn't exists

[2020-12-11 06:02] Afranzio commented on #660
Beaba Your Veraa Level 💕💕💕

[2020-12-11 07:28] billtlee commented on #93
![Screen Shot 2020-12-11 at 3 27 39 PM](https://user-images.githubusercontent.com/14323281/101875343-6b510500-3bc5-11eb-9683-f98fce498d29.png)
Hi,
So, is this what I am removing?  Which file(s) should I remove it from?
Thanks!

[2020-12-11 17:37] dland512 opened #1011 "Can this be used outside of a container?"
The top of the readme says

However I am writing an app that targets Linux running on an ARMv7 device. There are no containers involved. Will this module work for that case?

Here is the device info:

[code]

[2020-12-11 21:46] JohnLevander commented on #1010
Thanks.

[2020-12-11 21:46] #1010 closed

[2020-12-13 11:03] talha0324 commented on #903
is there any workaround for this?

[2020-12-14 06:00] htho opened #1012 "using a package offline produces npm warning "are you offfline""
I use pkg to create a stand-alone executable of a node-application. I start this executable inside a host application and communicate with it through stdin/stdout (stderr).

I don't expect any data on stderr from the node-application. Therefore any data on stderr is a serious exception to me.

The other day I had Internet connection issues and my program crashed because of this message on stderr:

[2020-12-15 11:58] Rytiss opened #1014 "Node 14 package size because of full-icu"
Node 14 has switched to full-icu from small-icu, inflating the package size very significantly. Would it be possible to provide a node14 build with small-icu?

[2020-12-16 12:29] MichaelKorn commented on #926
I took a look at the situation, especially since several open issues are related to es6 modules.
es6 modules are not supported!

1. The caching cannot work like this:
https://github.com/vercel/pkg/blob/52b4933aeab3acaddbe4884aef8ee5f127e4a468/lib/fabricator.js#L20-L25
1.1. vm.Script is just for CommonJS modules. For ECMAScript modules [vm.Modules](https://nodejs.org/api/vm.html#vm_class_vm_module)

[2020-12-17 14:27] nmihaica opened #1015 "Best way to compile x86 exes on x64 *nix systems"
Is it via docker, virtual machine?
How do I compile for x86?

People who have more experience, please guide to the right path.

[2020-12-18 22:58] Dunky13 commented on #997
I have the same issue, top level await doesn't want to compile.

[2020-12-20 13:27] hjyssg commented on #938
This bug happened on windows as well.
May I ask when this pull request will be merged?

[2020-12-21 08:52] karikera commented on #838
similar issue

node -v
v15.4.0

[2020-12-22 03:18] zMrKrabz commented on #204
Hey, have you ever got this error

[code]
?

I am getting that when doing

[code]
The code is suppose to grab one version of puppeteer for each platform, so I can distribute for linux, mac, and windows. My main problems is the one described above, and finding revision numbers for chromium.

[2020-12-22 03:22] zMrKrabz commented on #204
Just an update here: This is how I am fetching the chromium versions for each platform. Afterwards, you can copy the chromium distributions like above. My only problem is getting latest revision numbers, yet the resources provided by Google isn't too helpful.

[code]

[2020-12-23 02:33] Scott1995 opened #1016 "Electron:Cannot read property 'indexOf' of undefined"
vue.runtime.esm.js?2b0e:1888 TypeError: Cannot read property 'indexOf' of undefined
    at Function.getFileName (bindings.js?dfc1:178)
    at bindings (bindings.js?dfc1:82)
    at eval (usb.js?f13e:1)
    at Object../node_modules/usb/usb.js (index.js:4566)
    at __webpack_require__ (index.js:724)
    at fn (index.js:101)
    at new USB (index.js?b7df:28)
    at VueComponent.handlePrint (App.vue?2

[2020-12-23 13:35] JoahTheron opened #1017 "how to build node12.2.0-linux-armv7"
pkg . -t node12.2.0-linux-armv7 --output dist/Linux

  https://github.com/zeit/pkg-fetch/releases/download/v2.6/uploaded-v2.6-node-v12.2.0-win-armv7

  {"tag":"v2.6","name":"uploaded-v2.6-node-v12.2.0-win-armv7"}

  {"tag":"v2.6","name":"uploaded-v2.6-node-v12.2.0-win-armv7"}

  built-v12.2.0-win-armv7

`

i don't get it why it always tries to fetch win binaries.

[2020-12-23 17:00] panpansh commented on #358
Thank you for your reply dear @beac0n ! So I was able to solve my headache !
Even if the environment variable is set to "development", it allows the package to be read in "production" mode.
However the code remains present in the package.
If there is a simple method to make everything cleaner, I am interested otherwise it is not a big deal ... Thank you again :)

[code]

[2020-12-25 12:20] Einere opened #1018 "cannot resolve module when execute packaged file"
# description

i made small node app using selenium.
i made executable file with ` pkg . -t node14-macos-x64`, it successful.
but packaged app log error when run it.
i think `pkg` cannot resolve module in dependency package.

# expected behavior

when run packaged file, run selenium.

# actual behavior
log error
[code]

# environment

### OS

MacOS Bug Sir v11.1

### pkg version

4.4.9
### package

[2020-12-28 11:07] jesec commented on #361
Bump and ping @igorklopov.

Native support would be better. While third party build can serve as a workaround, it is not the ideal solution.

Nowadays, arm64 is more important than ever. It is unfortunate that this great project supports armv6/v7 but not arm64. Many modern distributions have plans to remove multilib (armv7 compat on arm64), which will make the pkg executable unusable as the packag

[2020-12-28 20:52] panpansh opened #1019 "Using PKG with Webpack => why /snapshot/project/node_modules ?"
I have no error all is working fine.

Looking inside /snapshot/project/ : I don't know why there is some node_modules here.

would there be a possibility not to include any node_modules please ? (because using webpack).

Wishing you happy holidays <3

[2020-12-29 09:35] smnth90 commented on #679
Is it working for you? What is the solution?
I tried in the same way as you did. But it is throwing error saying "Pkg cannot compile other than .js extension"

[2020-12-29 13:09] albertodam commented on #736
Hi @chrissantamaria i have same problem, but i dont understand how you resolve. Can you show me the code?

[2020-12-30 01:13] chrissantamaria commented on #736
Sure! Here's a demo repo to show how I've handled this situation in the past: https://github.com/chrissantamaria/pkg-node-adodb

[2020-12-31 09:21] pxim commented on #1003
thank you very much

[2021-01-01 19:05] shinylightdev opened #1020 "Change hardcoded "snapshot" directory to be relative to executable"
Can't find in the docs, the appropriate config so that **rather than having** the following:

[code]

I **just have this**:

[code]

Basically, I want to house the entire app under just **one dir - not have two**. Is this even possible? I'm on **node14-win-x64**,

Thanks

[2021-01-01 19:11] shinylightdev commented on #1019
You may want to post your package.json and how you're calling pkg.

[2021-01-01 19:31] panpansh commented on #1019
[code]
is there a simple way to force to not import any node_modules ?

[2021-01-02 05:38] fcastilloec commented on #1017
I think your problem, which is probably a bug, is specifying the current directory (i.e. `.`) before the `-t` option. Move that to the end, or even better use: `pkg -t node12.2.0-linux-armv7 -o dist/Linux package.json` That's how I use it and it works without any problems.

[2021-01-03 00:47] danyill commented on #204
@zMrKrabz wrote:

I think this works:

[code]

[2021-01-03 08:51] zaherg commented on #1017
To build ARM arch distribution of your application you need to do it on an ARM device like Raspberry PI or something on the cloud.

since you are on `X64` arch device you can only target `x64` arch OSs.

hope this help

[2021-01-04 00:28] chuanqisun commented on #1008
Thanks @lselden for explaining. I had the same question. Just curious, what is the overhead for fetching non-LTS node versions? I was imagining that it's a semver variable that controls which version to be fetched and if you let user specify that, there would be no additional cost. I might be ignorant of the caveats so please correct my understanding if I'm wrong.

Thank you for upkeeping this gre

[2021-01-04 02:18] ArkadiuszMichalski commented on #999
In future please consider adding to pkg some switch to not include this Internationalization API, even `node.exe` downloaded from official server weighs only 55 MB.

[2021-01-04 03:24] #1003 closed

[2021-01-04 12:03] panpansh commented on #1020
can I ask you why you asked me for more informations regarding this post https://github.com/vercel/pkg/issues/1019 ?
Was it in order to inform ME about or rather in order to inform YOU ... ?

[2021-01-04 14:02] wuguzaliang opened #1022 "Should support nodexx.xx.xx-linux-arm64 platform"
Should support nodexx.xx.xx-linux-arm64 platform.
I just try to pkg -t node12.2.0-linux-arm64 on raspiberry4b. But I got the below error:
root@tech-desktop:/opt/pi_app# pkg -t node12.2.0-linux-arm64 .

  fetched-v12.2.0-linux-arm64  [                    ] 0%

  https://github.com/zeit/pkg-fetch/releases/download/v2.6/uploaded-v2.6-node-v12.2.0-linux-arm64

  {"tag":"v2.6","name":"uploaded-v2.6-nod

[2021-01-04 17:18] shinylightdev commented on #1020
It was to help someone else troubleshoot/help you more affectively. That would probably be their next question. Unfortunately, I don't have an answer for you.

[2021-01-05 10:17] amitsingh1234567 commented on #647
``

[2021-01-05 18:43] edwardfoyle opened #1023 "Support macos-arm64 target for new M1 chips"
As more and more ARM-based macs come online, it would be a great boon if pkg supported macos-arm64 out of the box.

I'm also open to workarounds for compiling macos arm64 binaries in the meantime. I didn't see any prebuilt binaries in this project: https://github.com/yao-pkg/pkg-binaries/releases/tag/node12 but maybe there's another project somewhere that is hosting a macos-arm64 binary?

[2021-01-05 23:15] codingMASTER398 opened #1024 "Newest version"
Is there a build of pkg that supports node v14.15.4?

[2021-01-06 13:53] thomasdingemanse commented on #817
I'm having a similar issue. If I execute the packaged binary, I get the following error message:

[code]

However, in the output generated by running pkg with the `--debug` flag, it seems like the directory was included in the snapshot:

[code]

There is only a single file in this directory. It is loaded by [fastify-autoload](https://github.com/fastify/fastify-autoload), which takes a dir argument

[2021-01-06 20:55] ArkadiuszMichalski commented on #228
For anyone UPX+pkg works even for simple console.log("hellow world") on Windows? If yes please share what version Node/UPX/pkg and system you used and what args you used. I always get Pkg: Error reading from file.

[2021-01-06 20:59] ArkadiuszMichalski commented on #50
Any progress here? When I compress `node.exe` then it works, but whe I use pkg I always get `Pkg: Error reading from file.`, even for simple `console.log()`.

[2021-01-07 09:04] dwkfcml opened #1025 "This experimental syntax requires enabling the parser plugin: 'dynamicImport'"
When I used pck to package the koa project, an error occurred：
Error! This experimental syntax requires enabling the parser plugin: 'dynamicImport' (37:27)

How can I solve this error？

[2021-01-07 09:05] dwkfcml commented on #1025
node version: v10.5.0
pkg version: 4.3.7

[2021-01-07 22:24] iba-jsykes commented on #1011
Yes, I'm deploying on Windows, Linux and Mac, no containers.

[2021-01-08 13:22] panpansh commented on #1019
Ok so, I just need to move my bundle.js inside my dist folder by example. and dont let him next to node_modules.
Thats all.
Regards

[2021-01-08 13:22] #1019 closed

[2021-01-09 20:01] alelav79 opened #1026 "Lots of "Warning Cannot resolve""
Hi,

whits command :

pkg . --targets node10-win-x64 --copy-native

i have lots of warnings like this like

  C:\myproject\models\mymodel.js
  Dynamic require may fail at run time, because the requested file
  is unknown at compilation time and not included into executable.
  Use a string literal as an argument for 'require', or leave it
  as is and specify the resolved file name in 'scripts' opti

[2021-01-11 00:00] BlackYuzia opened #1027 "[QUESTION] How to resolve PWD?"
#89 I find only this issue about process.env about PWD.
But, currently I can say what I can't find this too.

If I write this code and use `pkg` for build:
[code]
when I try debug **process.env** I didn't find any phrases (keys) PWD.

If I didn't run it in `pkg` - `process.env.PWD` work fine.

What I should to do? [**More details about symlink and pwd / cwd**](https://stackoverflow.com/questions/2

[2021-01-11 12:09] nor0x commented on #128
any news on this issue, has anyone made some progress on correctly signing a binary? I need to sign a binary on macOS and `node-packer` seems to be abandoned

[2021-01-11 13:03] saurabh-deep commented on #128
@nor0x - We are also in the same boat. Node 10 doesn't work for us anymore, so `node-packer` is not an option for us anymore. We need to use Node 12 or 14.

We haven't been able to use pure Node.js option suggested by @rmcvey, or the `nexe` option suggested by @btsimonh. It would be super awesome if someone (who has been able to get this to work) can share with the community by setting up a projec

[2021-01-11 15:02] nor0x commented on #128
@saurabh-deep thanks for your reply. Unfortunately i'm no js expert, i would be happy to help as much as i can but i guess the initiative should be started by someone with more expertise

[2021-01-11 15:31] patrickhulce commented on #128
If your only goal here is create an executable that can be used by a dmg that will pass Apple's notarization, I came up with a workaround that should work for you but am afraid to share too publicly for fear it will be frowned upon by Apple (it doesn't involve truly hardening the executable generated by `pkg` which I've come to understand is impossible given its current approach). If you/your comp

[2021-01-11 15:35] btsimonh commented on #128
haha..  yes.. some of my 'solution' would be blocked if Apple knew...

[2021-01-11 23:05] renebrandel commented on #1023
Yeah, I think this is important. Almost everyone on my team has the M1 now.

[2021-01-12 10:08] AxxlForce opened #1028 "discord.js functionality impaired when packaged"
When packaged as executable the functionality of discord.js is impaired. It still connects to a server but communication afterwards does not work but no error is thrown. Running the app directly with node works fine, so it must be related to pkg. Something fails silently and a way is required to debug it.

[2021-01-13 04:03] absalomedia opened #1029 "i18next packaging not working"
I'm working on some projects that extensively use i18next through Node and the filesystem. That means I'm using i18next-fs-backend and the use of __dirname to resolve translation files.

Packaging the apps using PKG keeps failing to resolve i18next inside the apps as the path get changed to /snapshot/

I would like to continue to use i18next and pkg together if possible. Has Vercel or anyone else

[2021-01-13 04:03] absalomedia opened #1030 "i18next compatibility"
I'm working on some projects that extensively use i18next through Node and the filesystem. That means I'm using i18next-fs-backend and the use of __dirname to resolve translation files.

Packaging the apps using PKG keeps failing to resolve i18next inside the apps as the path get changed to /snapshot/

I would like to continue to use i18next and pkg together if possible. Has Vercel or anyone else

[2021-01-13 04:03] #1029 closed

[2021-01-13 16:01] saurabh-deep commented on #128
Hey @patrickhulce! Thank you so much for offering the help. I sent you an email just now, with subject "MacOS binary signing / App notarization". Please respond whenever you get a chance. Much appreciated! ❤️

[2021-01-14 17:27] DevRafaelCena opened #1031 "versioning?"
hello, can i create version of my application?
the .exe contains the version of the node, I would like to insert my version of the package.json

[2021-01-15 09:27] sRect commented on #903
how to solve

[2021-01-15 10:13] olaven commented on #383
Thumbs up for this 👍

[2021-01-15 11:12] einsqing commented on #591
How to solve this issue?

[2021-01-18 03:19] Louis-Tian opened #1032 "`pkg` tries to compile file called by require.resolve."
Currently whenever `pkg` encounters `require.resolve(path)`. It will try to include the file into the executable. However, this behaviour will obviously become a problem when the file at the path is not a .js file.

I encounter this issue when trying to compile `pm2` and this line below is causing the pkg to throw a syntax error.

https://github.com/Unitech/pm2-deploy/blob/987428a6ce402b47bb195ab9

[2021-01-18 09:24] #1026 closed

[2021-01-18 14:33] lselden commented on #1031
If you want to read the version of your application then just be sure to include your code's `package.json` in your list of [assets](https://github.com/vercel/pkg#assets). Then you can read the file (something like `JSON.parse(fs.readFileSync(path.join(__dirname, 'package.json'), { encoding: 'utf8' }))` should do the trick) and display your application version as needed.

[2021-01-18 14:35] lselden commented on #1024
available versions are tracked over in the [`pkg-fetch` ](https://github.com/vercel/pkg-fetch/commits/master) repo

[2021-01-18 16:24] DevRafaelCena commented on #1031
I didn’t exactly want to read this value, I wanted it in the .exe, when I right clicked and went to properties, the correct name and version of my application should be listed, not nodejs

[2021-01-19 02:28] dominics commented on #848
Confirmed that the workaround in #726 does not work for me. Moreover, all the expected libs are there on my alpine container (confirmed by running `ldd`):

[code]

So, then I moved on to `valgrind` to see if I could get an error, and it seems like a crash deep in v8:

[code]

There is some recent activity on the v8-dev mailing list that might be a similar segfault.

[2021-01-19 04:12] dominics commented on #848
Started looking further into the differences between the cross-compiled version that doesn't work, and the native compile version that does. In this case, the host is a MacOS machine, and the target is alpine.

- On MacOS I compiled a version of my binary for an alpine target: `foo-alpine-crosscompiled`
- On an Alpine docker image, I compiled a version of the my binary for the same target: `foo-al

[2021-01-20 15:56] jesec commented on #1023
I compiled a working macOS arm64 binary that has pkg patches. See https://github.com/jesec/pkg-fetch/releases/tag/v2.7.

However, due to #66 and [mandatory code signing requirement](https://developer.apple.com/documentation/macos-release-notes/macos-big-sur-11_0_1-universal-apps-release-notes) on arm64, the result executable of pkg is immediately killed by kernel on launch.

I am working to port h

[2021-01-22 00:57] #1024 closed

[2021-01-22 07:56] suresh-rajen commented on #1031
Facing the same issue, please let me how to update the metadata?

![image](https://user-images.githubusercontent.com/41784383/105462951-664b9f00-5cb5-11eb-85f9-8f189226bc90.png)

[2021-01-22 12:34] Bellisario opened #1033 "Continue to keep this project alive"
This project is no longer mantained from 9 aug 2018 with package updades. Please, return to keep alive this wonderful project, or someone will clone it...

[2021-01-22 17:37] Nashorn commented on #835
Has there been a resolution to this problem? Simple hello world, builds and opens osx fine. On windows, the .exe opens and closes immediately.

[2021-01-22 17:38] Nashorn commented on #835
Did not work for me

[2021-01-22 17:39] Nashorn commented on #835
Yep, immediately opens and closes out, same behavior

[2021-01-22 17:57] Nashorn commented on #890
Having same issue

[2021-01-22 18:13] Nashorn commented on #745
any solution?

[2021-01-23 09:02] Nashorn commented on #737
Has there been a solution to .exe on windows not working?

[2021-01-23 09:25] Nashorn commented on #525
having same issue

[2021-01-23 09:46] Nashorn commented on #793
https://github.com/Nashorn/kill-port

[2021-01-24 02:12] 64ZooLane commented on #1028
Yeah I had a similar issue. You can use discord.js v11 instead of v12 as a fix for now.

`npm i discord.js@11.6.4 --save`

[2021-01-25 09:02] Hello-GBY commented on #959
Hi
It won't compile after obfuscation
How to solve it?
Thanks

[2021-01-25 10:49] AndoGhevian commented on #525
Hey @Nashorn, I mentioned the package above - [OpenTerm](https://www.npmjs.com/package/open-term), its written for the same reason, to run cli-apps in different platforms with different terminal emulators, and i created a project [VT-pkg](https://github.com/AndoGhevian/VT-pkg#important-notes) with the exact thing that you want, so that apps not run headless, and in the important-notes section i cl

[2021-01-25 16:30] Nashorn commented on #800
same issue in 4.4.9

[2021-01-25 16:50] Nashorn commented on #779
still an issue, tried 4.3.x with node10 on win, no combinations working. Exe opens and exists immediately.

[2021-01-25 17:41] albertmourato commented on #779
@Nashorn check [this file](https://github.com/vercel/pkg-fetch/blob/master/patches/patches.json). You should use one of them in order to get it working.

[2021-01-25 18:13] omid-student commented on #959
You right
Thanks

[2021-01-25 18:26] therealtear commented on #959
Jfc no instead of compiling just obfuscate if you don’t want your code stolen

[2021-01-26 02:49] pedropalhari commented on #1033
Well they integrated into their own solution, feel free to clone and improve it, that's what open source is about. If you keep it up to date, I promise I'll use it!

[2021-01-26 02:56] Hello-GBY opened #1034 "Can PKG package .JSC files?"
Hi
I want to change server.jsc to server.exe

### package.json ：
{
    "bin": "./server.jsc",
    "pkg": {
		"targets": [
		"x64"
		]
    }
}
perform：  pkg  -t  win package.json
result： The generated.exe has no response

The purpose of this is to：
I want the binary file to be visible to the user after decompiling

Thanks

[2021-01-26 07:22] rogermadjos opened #1035 "`pkg` fails when used with Bazel"
I'm trying to use `pkg` in Bazel with no success. In my BUILD file:
[code]
When I run `bazel build`, I get the following errors:
[code]

[2021-01-26 14:47] Nashorn commented on #779
@albertmourato thanks for your help. I've tried a number of diff combinations, can't say I tried them all on that list. At this point its trial and error (windows only), the thing works flawlessly on mac/linux.

Let me share my config and small example, maybe i have it configured wrong? Basically making a self-executing server (using the npm http-server module) that launches a localhost from the f

[2021-01-27 10:10] methmal66 opened #1036 "I removed unnecessary packages and the problem is gone =|"
i removed react-scripts. but still get the same error. any suggestions?

[2021-01-28 02:16] MichaelGaoX commented on #737
some problem.show pkg/prelude/bootstrap.js:1244 TypeError: argument fn must be a function  on Windows

[2021-01-28 17:22] DavidC001 opened #1037 "fs.writefilesync() Error: EPERM: operation not permitted, open"
whenever i try to save a file to whatever location it gives this error.
Initialy i was trying to save a canvas image but even trying to save a text file gives error.
To save the file i use this piece of code:
					salva = './immagini_classifica/' + posizione/9 + '.txt';
					await fs.writeFileSync(salva, "text");
any idea?

[2021-01-30 16:12] Freddson opened #1038 "How can I pack a whole project along with other files and node modules into one executable?"
I'm currently coding a node.js project which I want to change into an executable with pkg. Although, I don't know how to add node modules into package.json, as the README says, plus my script uses a few extra .js files. How can I include them and node modules into the package.json so it's all packed in one executable file?

[2021-02-01 15:05] #1038 closed

[2021-02-01 21:43] PriyaSivaraj1987 commented on #744
I am same issue.. would like to have env variable for corporate proxy so that we can avoid manual downloads

[2021-02-01 22:43] PriyaSivaraj1987 opened #1039 "pkg with source pointing to vercel instead of zeit"
At work i'm behind a proxy and i got the following error message :
https://github.com/zeit/pkg-fetch/releases/download/v2.6/uploaded-v2.6-node-v12.18.1-win-x64

  {"tag":"v2.6","name":"uploaded-v2.6-node-v12.18.1-win-x64"}

Redirect doesn't work for us. If there is a way to pass in corporate proxy location for github.com or point the source to use github.com/vercel that would be great.

Currently

[2021-02-03 04:01] plztrial4me opened #1040 "process.pkg error in typescript"
i got following error in typescript with pkg

if (typeof **process.pkg** !== undefined) {
  ..
}

error TS2339: Property 'pkg' does not exist on type 'Process'.

how can i fix it?

[2021-02-03 05:49] sRect commented on #183
"pkg": "^4.4.9"
"tesseract.js": "^2.1.4"
[code]

[2021-02-03 08:45] Nashorn commented on #779
any help on this?

[2021-02-03 10:25] albanm commented on #447
This is a really important point for me. I need to build the exec in a way that is compatible with low-resource machines, but allow extending memory on some more heavy-duty machines.

  - is it really impossible to define node options at runtime ?
  - if it is impossible, can it be changed by a modification of the code base (I am willing to work on a pull request) or is it too complicated because

[2021-02-03 16:52] Cleynn opened #1041 "Botpress installation error #14 "SQLITE_CANTOPEN""
Hi,
I run into this error when starting up bp.exe :
![image](https://user-images.githubusercontent.com/78496831/106780629-7b76e500-6648-11eb-9871-ca0f3f90ee9c.png)
I can't seem to find a solution for this anywhere. Any suggestions?

[2021-02-03 17:02] #1041 closed

[2021-02-03 17:21] leafac commented on #455
I patched this on my fork at https://github.com/leafac/pkg

It’s available at `npm install @leafac/pkg`.

If the maintainers are interested in a pull request, I’d be happy to send it.

[2021-02-03 17:21] leafac commented on #958
I patched this on my fork at https://github.com/leafac/pkg

It’s available at `npm install @leafac/pkg`.

If the maintainers are interested in a pull request, I’d be happy to send it.

[2021-02-04 09:07] albanm commented on #938
I looked at [this commit](https://github.com/vercel/pkg/pull/992/commits/b694d657af3e6c5dcaf6cc1efb60d9833152c580) from the pending pull request, and deduced that the problem is specific to reading root paths. Indeed, c:\ breaks but c:\test is ok.

Reviewing and merging the pull request would be greatly appreciated, it seems to provide a very straightforward fix.

[2021-02-04 12:28] Daniel-Olivier commented on #591
By passing the args of the current process to the new process

[2021-02-06 05:46] tackelua commented on #915
`  "pkg": {
    "assets": "node_modules/puppeteer-extra-plugin-stealth/**/*.*"
  }`
Thanks for comment https://github.com/vercel/pkg/issues/910#issuecomment-638082856

[2021-02-06 05:47] #915 closed

[2021-02-07 14:31] maddygoround opened #1042 "jxcore"

[2021-02-07 14:31] #1042 closed

[2021-02-07 18:07] SunD004 opened #1043 "binary name | strict binary name"
Hi,

An option exist for a strict binary name ?

When binary is generated a -linux and -win is concat automaticaly and i want remove this :d it's possible?

I search but i found nothing :/

I want output strict in package.json like :

[code]

it's exist ?

For who have the same problem i just create a new script command named compil in package.json  :

[code]

[2021-02-07 19:55] #1037 closed

[2021-02-08 11:16] miraclx commented on #1001
That's probably the case, pkg probably just intercepts fs calls to `/snapshot` and resolves it with internal data.

For this use case, the first time your executable is run, you can get readable streams to the assets (binaries) you want, and write them into an external staged directory (maybe even a temp dir), or if you embedded a zip file, extract that into your staged dir.

Then you can spawn th

[2021-02-08 11:22] miraclx commented on #1002
_Originally posted by @miraclx in https://github.com/vercel/pkg/issues/1001#issuecomment-775071226_

[2021-02-08 11:24] miraclx commented on #1005
_Originally posted by @miraclx in https://github.com/vercel/pkg/issues/1001#issuecomment-775071226_

[2021-02-08 11:25] miraclx commented on #960
_Originally posted by @miraclx in https://github.com/vercel/pkg/issues/1001#issuecomment-775071226_

[2021-02-08 21:42] LeonardoRick commented on #342
Hi, following here because I'm very interested o a proper solution for this case too

[2021-02-08 23:23] LeonardoRick commented on #835
Same behavior with me. Any solutions yet?

[2021-02-09 09:37] trevyn commented on #1033
There is some discussion of forking over here, in the context of wanting to pull in a PR for bundling of native addons: https://github.com/vercel/pkg/pull/837#issuecomment-775362263

[2021-02-09 09:56] Nashorn commented on #779
its a dead simple example, no one from pkg team knows?

[2021-02-09 10:32] sergiz commented on #884
The script that threw an error which is shown in the first post.

[2021-02-09 12:41] Bellisario commented on #1033
Thank you @trevyn!!!

[2021-02-09 12:41] #1033 closed

[2021-02-09 12:54] jvictorsoto commented on #1018
Forcing all scripts as asset will fix this.

include this on your package.json
[code]

[2021-02-11 08:51] neilveil commented on #245
Basically, it works if we do something like this

[code]

in `package.json`

But why we can't set "--assets" directly from terminal?

[2021-02-12 16:12] pspaulding commented on #1031
Agreed, this would be a nice feature.

[2021-02-13 13:23] salsan opened #1044 "Error! Error: EBUSY: resource busy or locked, open"
- Windows 10 Version 2004 ( Build SO 19041.804)
- Node v14.15.5
- pkg 4.4.9

My code
`console.log("Hello Wolrd!");`

When try execute pkg

[2021-02-15 10:02] PaserSRL opened #1045 "Build with multiple processors"
Maybe I've missing something in documentation but is not possible to compile using multiple processors?
I know that NodeJS doesn't allow core management but during building I've found that Pkg runs "make" command.

Is not possible to run it as "make -j$(nproc)"?

Thanks

[2021-02-17 14:05] pablitovicente opened #1046 "Support for latest version of a major version?"
I'm trying to generate a binary using Node 14.15.5 yet when I provide node14 as target it seems to be using node 14.4.0 how can one get a package using 14.15.5?

thanks!

[2021-02-17 14:12] pablitovicente commented on #1046
Found similar issue with answer. Closing.

[2021-02-17 14:12] #1046 closed

[2021-02-17 20:31] jrj2211 commented on #967
I too am having this issue on my RPI 4. Make stuck at 0% for 20 minutes now, I guess I'll let it keep going as others said it eventually finishes. Maybe I'll just downgrade to 12.2 since theres a precompiled version of that for ARMv7.

[2021-02-21 14:15] jaruba commented on #478
has anyone ever found a solution to this issue? i also can't do `fs.readdir()` or `fs.lstat()` on drives from within a packaged `pkg` instance.

i also get the `config.msi` error, and if i ignore it, it still does not acts weirdly and is full of errors

[2021-02-21 16:38] incapdns opened #1047 "--options in Windows OS + Cluster"
The cluster is disconnecting (closing) when using "--options" when compiling with PKG, example:
pkg test.js --options max_old_space_size = 4096

Example code:
[code]

Node version: v14.15.5
OS: Windows

It is noticed that this happens only in the cluster (child)

Log:
[code]

[2021-02-21 19:25] incapdns commented on #1047
Plz verify linux too.

[2021-02-22 01:31] jcyh0120 commented on #932
need a way to debug my node application with pkg. Anyway possible ways?

[2021-02-22 05:13] binarykitchen opened #1048 "Setting output or out-path in package.json has no impact"
If I have something like this in my package.json

[code]

I still don't see them in the packages subfolder. Tried all combinations and sorry, documentation is a bit poor. Any help?

[2021-02-23 09:05] s-z-h opened #1050 "Warning Failed to make bytecode node10-x64"
![1614071041423](https://user-images.githubusercontent.com/39288552/108821831-2b60c200-75f9-11eb-8c97-3e8547f75d54.jpg)

[2021-02-25 17:33] taylorjdawson commented on #893
I get `Not more than one entry file/directory is expected` when I run with `pkg .` but currently my assets are not getting included. Full cmd:
[code]
@karl0ss what command did you run with?

[2021-02-25 17:50] taylorjdawson commented on #283
@jmendiola222 did the above solution work for you?

[2021-02-25 19:05] jmendiola222 commented on #283
Mi comment is from Feb '18, I don't even remember what project I was working on back then, sorry. :man_shrugging:

[2021-02-25 19:41] taylorjdawson commented on #283
I can confirm that @ksmithut's solution works for me.

Note if you get the message `Not more than one entry file/directory is expected` when running `pkg .` add `pkg -c package.json` instead. This ensures that `pkg` uses the config specified in your `package.json` file.

[2021-02-26 14:46] halmos commented on #893
I wasn't able to get any solution involving the config `assets` setting to work on its own. However, I found that using the `path.join()` method, as described at https://github.com/vercel/pkg#detecting-assets-in-source-code, forced pkg to include the asset into the build.

As a workaround, by insuring that any required assets were included in a `path.join()` call, I was able to resolve the error.

[2021-02-27 11:55] boring10 commented on #1031
This would be a nice addition. I would propose that the file description be the name from package.json and the file version be the version from package.json and leave the rest of the information alone.

[2021-02-27 18:57] kdolan commented on #1017
When trying to build on a RPi this is what I am getting. Stays at 0% forever:
Compiling Node.js from sources...
  make                         [                    ] 0%

[2021-02-28 07:24] max-programming opened #1051 "Many important files and folders are not included while creating the exe"
I am building a simple REST API which uses a couple packages including `puppeteer`, `sharp`, etc. These contain `.node` files which do not get included in the `exe` yet. So how can I completely package my app and make a final folder with the required files?

Also I have a `session.json` file which is also needed but I am not able to include it. Please help me what can be the workaround of this. I

[2021-02-28 07:54] nathanmfast commented on #65
@essivision Thanks! That's exactly what I needed.

[2021-02-28 13:20] max-programming commented on #229
These are the warnings I get when I package my app. I even tried to copy the files.
But I would admit that `node_modules\sharp\vendor\lib` does not exist. Instead I have `node_modules\sharp\vendor\8.10.0\lib`

[code]

[2021-03-01 06:05] htho commented on #1012
I just found out: It's not pkg but the package I want to bundle that produces the log.

[2021-03-01 06:05] #1012 closed

[2021-03-01 14:55] leerob commented on #21
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 14:55] #21 closed

[2021-03-01 14:56] leerob commented on #138
Closing this as stale 🙏 Thank you anyway!

[2021-03-01 14:56] #138 closed

[2021-03-01 14:56] leerob commented on #88
Closing this as stale 🙏 Thank you anyway!

[2021-03-01 14:56] #88 closed

[2021-03-01 14:56] leerob commented on #74
Closing this as stale 🙏 Thank you anyway!

[2021-03-01 14:56] #74 closed

[2021-03-01 14:57] leerob commented on #55
Closing this as stale 🙏 Thank you anyway! If someone from the community would like to contribute back and mention pros/cons versus current solutions in 2021, I can take a look.

[2021-03-01 14:57] #55 closed

[2021-03-01 14:59] leerob commented on #745
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 14:59] #745 closed

[2021-03-01 14:59] leerob commented on #570
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 14:59] #570 closed

[2021-03-01 14:59] leerob commented on #276
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 14:59] #276 closed

[2021-03-01 14:59] leerob commented on #267
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 14:59] #267 closed

[2021-03-01 14:59] #215 closed

[2021-03-01 14:59] leerob commented on #224
Closing as stale 🙏 Thank you!

[2021-03-01 14:59] #224 closed

[2021-03-01 14:59] leerob commented on #998
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 14:59] #998 closed

[2021-03-01 14:59] leerob commented on #828
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 14:59] #828 closed

[2021-03-01 15:00] leerob commented on #798
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:00] #798 closed

[2021-03-01 15:00] leerob commented on #753
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:00] #753 closed

[2021-03-01 15:00] leerob commented on #666
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:00] #666 closed

[2021-03-01 15:05] leerob commented on #584
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:05] #584 closed

[2021-03-01 15:05] leerob commented on #569
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:05] #569 closed

[2021-03-01 15:05] leerob commented on #575
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:05] #575 closed

[2021-03-01 15:06] leerob commented on #571
Hello! I'm picking things back up here and helping clean up what's open. We are looking for help from the community to update things 😄 Feel free to comment back here if you'd like to assist.

[2021-03-01 15:06] leerob commented on #568
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:06] #568 closed

[2021-03-01 15:06] leerob commented on #542
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:06] #542 closed

[2021-03-01 15:06] leerob commented on #545
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:06] #545 closed

[2021-03-01 15:06] leerob commented on #439
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:06] #439 closed

[2021-03-01 15:06] leerob commented on #422
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:06] #422 closed

[2021-03-01 15:07] leerob opened #1052 "Merge forked libraries back into main"
It'd be great to merge community maintained projects back into this one 🙏

e.g. https://github.com/yao-pkg/pkg-binaries

[2021-03-01 15:08] leerob commented on #1050
Support will be for Node 12 and 14 going forward. Thanks!

https://endoflife.date/nodejs

[2021-03-01 15:08] #1050 closed

[2021-03-01 15:09] leerob commented on #1028
We would love your help contributing back on this 🙏 I'm going to close as "wont fix" for now, but if you would like to take a shot, we'd greatly appreciate it.

Thank you!

[2021-03-01 15:09] #1028 closed

[2021-03-02 03:15] leerob commented on #1033
I will be helping review / merge PRs now! 👋

[2021-03-02 03:31] leerob commented on #1036
Please provide more information when creating bug reports. This helps with debugging. Thank you!

[2021-03-02 03:31] #1036 closed

[2021-03-02 03:32] leerob commented on #1035
Support for use with Bazel is out of scope (for trying to revive this library). I'm going to close this as won't fix, but if you end up doing a deep dive and figuring it out, I'm happy to review / merge PRs.

[2021-03-02 03:32] #1035 closed

[2021-03-02 03:33] leerob commented on #1030
Hey! I'm sorry you had a bad experience here trying to use pkg with i18next. This project has been unmaintained for awhile, and I'm trying to clean things up. I'm going to close this as won't fix, but if you end up doing a deep dive and figuring this out, I'd be happy to review / merge PRs.

Thank you! 🙏

[2021-03-02 03:33] #1030 closed

[2021-03-02 03:34] leerob commented on #1011
Closing as the question has been resolved!

[2021-03-02 03:34] #1011 closed

[2021-03-02 03:35] #979 closed

[2021-03-02 03:36] leerob commented on #934
Hello, I've recently picked this project up and am trying to review open issues. I'd be happy to review a PR implementing this, if you want to contribute back 🙏 Closing as won't fix for now. Let me know if interested.

[2021-03-02 03:36] #934 closed

[2021-03-02 03:38] leerob commented on #876
Please provide more information and use the bug report 🙏 thank you!

[2021-03-02 03:38] #876 closed

[2021-03-02 03:38] leerob commented on #873
Please provide more information and use the bug report 🙏 thank you!

[2021-03-02 03:38] #873 closed

[2021-03-02 03:38] leerob commented on #871
Closing this as won't fix for now, but happy to review a PR if you'd like to contribute back 🙏

[2021-03-02 03:38] #871 closed

[2021-03-02 03:38] #852 closed

[2021-03-02 04:43] KillWolfVlad commented on #678
I would like to use pkg programmatically in my TypeScript code, but pkg doesn't have types.
See PR #946 for simple types.

[2021-03-02 07:36] eirikaleid opened #1054 "pkg"
How can I put icons while using the pkg module.

[2021-03-02 14:13] leerob commented on #329
Initial support has been merged with https://github.com/vercel/pkg/pull/837.

If there's anything else missing, please feel free to contribute back and I will take a look at the PR. Thank you! 🙏

[2021-03-02 14:13] leerob commented on #619
Initial support has been merged with https://github.com/vercel/pkg/pull/837.

If there's anything else missing, please feel free to contribute back and I will take a look at the PR. Thank you! 🙏

[2021-03-02 14:13] #619 closed

[2021-03-02 14:13] leerob commented on #749
Initial support has been merged with https://github.com/vercel/pkg/pull/837.

If there's anything else missing, please feel free to contribute back and I will take a look at the PR. Thank you! 🙏

[2021-03-02 14:13] #749 closed

[2021-03-02 14:13] leerob commented on #663
Initial support has been merged with https://github.com/vercel/pkg/pull/837.

If there's anything else missing, please feel free to contribute back and I will take a look at the PR. Thank you! 🙏

[2021-03-02 14:13] #663 closed

[2021-03-02 14:23] clpacheco90 commented on #1051
Copy all these files and put on the same folder of your package.

[code]

[2021-03-02 14:29] leerob commented on #1051
Yep, that sounds like the correct solution @clpacheco90 👍

[2021-03-02 14:29] #1051 closed

[2021-03-02 14:30] leerob commented on #1054
Please use the issue template 🙏 Thank you.

[2021-03-02 14:30] #1054 closed

[2021-03-02 14:39] max-programming commented on #1051
I tried a lot copying all the files it stated. But it continuously gave me weird errors whenever I ran the `exe`.
But I now decided to install all the dependencies and node on someone else's machine if they want to use it.

btw some of the files specified don't even exist. For eg. `node_modules\puppeteer\.local-chromium` and `node_modules\sharp\vendor\lib`

[2021-03-03 03:13] navigator117 opened #1055 "the sourceless flag, more docs on this?"
I found `sourceless` flag added in your patch file to node.js source code, but it's not documented in your npm site. Could you please add some explain & usage for this flag?

[2021-03-03 03:44] leerob commented on #1055
We'd be happy to have you contribute if you'd like to add this! Thanks 🙏

[2021-03-03 03:45] navigator117 opened #1056 "set custom title name to child process process.title not work?"
With original node.js I can change my child process title forked by cluster.fork(), when I move my code to pkg modified node.js, It's not work any more. In centos I run 'ps aux' to see the child process title, it's just the javacript file's snapshot path.

[2021-03-03 05:48] navigator117 commented on #1055
Sorry, I'm afraid I can't, cause I don't understand means of this option. I just check the executable file output by pkg with some hexdisplay tools, but I found there are javascript text code inside the binary, not bytecode as expect. So I check the patch code and found this option.

[2021-03-03 18:18] Hypfer commented on #50
Regarding UPX:
https://sourceforge.net/p/upx/discussion/6806/thread/79e2a6b8/
That also explains why it works fine on windows, since PE executables and their overlays can be and are handled by the upx code.

As it is now, the `readPrelude` function patched into the nodejs binary will open `/proc/self/exe` and try reading the overlay from the offset replaced into the binary at packaging time. Howev

[2021-03-04 03:55] bo-516 commented on #976
same error...

[2021-03-04 04:08] hipstersmoothie commented on #976
Pkg currently doesn support import/export via native node js modules. There's a few things that need to happen to make it possible:

1. Update pkg-fetch with newer node releases that include the inflated support
2. Changes to pkg to detect "type: module" and bundle the code using modules instead of requires

[2021-03-04 07:19] saikoux12 commented on #716
do you solve this problem?

[2021-03-04 07:43] gg3083 commented on #1051
Did you solve it? I also use this `whatsapp-api-js`

[2021-03-04 07:49] max-programming commented on #1051
no ;(

[2021-03-04 08:39] Aymkdn commented on #96
I tried:

But it didn't work.

I also tried:

But it didn't work either.

[2021-03-04 09:13] Aymkdn commented on #96
Solution:
1. Run `pkg` with the expected targets
2. It will return an error like the below:

  fetched-v12.18.1-win-x64     [                    ] 0%

  {"tag":"v2.6","name":"uploaded-v2.6-node-v12.18.1-win-x64"}

3. Go to https://github.com/zeit/pkg-fetch/releases/ – make sure you look at the same version as your current `pkg`
4. Search for the _uploaded_ version that appears in the error message

[2021-03-04 14:29] leerob commented on #455
Merged!

[2021-03-04 14:29] #455 closed

[2021-03-04 14:29] leerob commented on #958
Merged!

[2021-03-04 14:29] #958 closed

[2021-03-04 14:57] leafac commented on #455
Thanks @leerob! 🙌

[2021-03-05 05:57] LuHaikun commented on #520
I also want to got the answer

[2021-03-05 07:03] StreamerYT opened #1057 "child_process.exec error"
[code]

[code]

[2021-03-07 17:17] Amulyagarg commented on #96
Hi,

Are you working behind some corporate proxy?

On Thu, 4 Mar, 2021, 2:09 pm Aymeric, <notifications@github.com> wrote:

[2021-03-07 17:46] Aymkdn commented on #96
Yes, I'm behind a corporate proxy.

I ended by doing it on another computer, not on the corporate network.

[2021-03-09 18:49] WestonThayer commented on #128
In case other folks are here looking for a workaround and are just distributing a CLI, all the MacOS Gatekeeper checks are bypassed if you download via `curl`, which shouldn't be a huge UX issue since, you know, users are downloading a CLI.

[code]

[2021-03-10 06:34] natejgardner commented on #802
I'm getting the same results as @DontAskM8. When I run `pkg package.json`, the resulting binaries are referencing `./dist/` rather than anything internal to the executable. If you move the binary outside the original folder, it stops working.

[2021-03-10 06:53] zoe-icu commented on #855
hi,  the package.json should like this
  "bin": "dist/main.js",
  "pkg": {
    "scripts": "dist/**/*.js",
    "assets": "logs/**/*"
  }
 then run the command

pkg . -t node12-win-x64 -o app --debug

[2021-03-10 13:35] femski commented on #229
This is really shameful. Just spent a day dealing with this (upgrading downgrading versions of npm modules and node versions)

You have to tar/package your executables generated by pkg along with add.node type artifacts  in your node_modules directory  (left behind by pkg)  and place them together in exact same structure at your target location. "pkg" strangely does not copy/include .node artifact

[2021-03-10 20:02] MGibson1 commented on #484
It really doesn't seem like the solution should be to set every possible option in `pkg`. Do we know a list of options which are being set?

Is there some reason the current environment can't be detected and override whatever `pkg` defaults to?

[2021-03-11 20:31] dverzolla commented on #1020
I'm writing a backup system, when I run backup.exe (packaged with pkg) the user can see the fake c:\snapshot\ folder created by pkg. I am using fs.readdir.

This 'c:\snapshot' hardcoded makes a bug in my software, once the user couldn't never use a real folder called snapshot.

Any ideas how to overcome this.

[2021-03-12 01:31] jchook commented on #484
Revising my initial suggestion, could the bundled binary simply invoke `node` with the options provided by the host's `NODE_OPTIONS` env var?

[2021-03-12 13:01] vasicvuk commented on #726
Does anyone has an issue that alpine binary just runs and quits immediately? I added the libstdc++ and libgcc

[2021-03-12 13:03] dverzolla commented on #938
@albanm having the same trouble here on Windows.
When reading from 'c:\' the error is trigged, when reading from 'c:\windows' works smoothly.

I know the guys from vercel are freaking busy, however, would some one take attention for this bug?

@igorklopov @leo @robertsLando

[2021-03-12 14:19] robertsLando commented on #938
@dverzolla I'm not a maintainer, @leerob could you give a look at https://github.com/vercel/pkg/pull/992

[2021-03-12 16:59] leerob commented on #938
Thanks, I've just merged the PR. https://github.com/vercel/pkg/pull/992

To clarify, we are looking for maintainers of this package! I'm helping answer things in my free time. If you'd be interested in helping maintain, please message me!

[2021-03-12 16:59] #938 closed

[2021-03-12 18:02] whexberg commented on #177
+1

[2021-03-12 18:49] leerob commented on #177
Hello! We welcome any and all contributions to try and address this. Thank you!

[2021-03-12 21:53] carlo-quinonez opened #1061 "npm release?"
There's been a lot of PR merged recently (thank you @leerob!) and I was wondering when the version of Pkg release on npmjs will go out?

[2021-03-13 20:34] leerob commented on #1061
Looks like there's a failing test that will need to be fixed first

[code]

[2021-03-13 20:37] leerob commented on #1056
Feel free to open a PR for this if you're interested! Thank you 🙏

[2021-03-13 20:37] #1056 closed

[2021-03-13 20:37] leerob commented on #1039
This will be fixed as soon as a release it cut. Which is being here https://github.com/vercel/pkg/issues/1061

[2021-03-13 20:37] #1039 closed

[2021-03-13 20:41] leerob opened #1065 "Looking for maintainers!"
Hello! We're looking for maintainers to assist with this package and help close out issues and support newer versions of Node.js. I've done a fair bit of clean-up and started merging PRs, but I don't have the capacity to maintain this. I'm just trying to get the low-hanging fruit finished.

Please comment here if you're interested in helping maintain this package. Thank you!

[2021-03-13 20:41] leerob commented on #1065
Related issue: https://github.com/vercel/pkg/issues/1052

[2021-03-13 20:41] leerob commented on #778
https://github.com/vercel/pkg/issues/1065

[2021-03-13 20:41] #778 closed

[2021-03-13 20:42] leerob commented on #1031
Currently not planning to add this, unless someone from the community makes a PR. Closing, but will reopen if a PR is made. Thanks!

[2021-03-13 20:42] #1031 closed

[2021-03-13 20:42] leerob commented on #571
https://github.com/vercel/pkg/issues/1065

[2021-03-13 20:42] #571 closed

[2021-03-13 20:42] leerob commented on #612
https://github.com/vercel/pkg/issues/1065

[2021-03-13 20:42] #612 closed

[2021-03-16 08:39] robertsLando commented on #1065
@leerob Could you make me a maintainer?

[2021-03-16 08:44] jesec commented on #1065
I am interested. I use pkg for my projects and I would like to help.

See:

https://github.com/jesec/pkg

https://github.com/jesec/pkg-fetch

[2021-03-16 17:10] carlo-quinonez commented on #1061
When did it start failing?

[2021-03-16 17:12] leerob commented on #1061
I believe it's something with my local machine, maybe. I'm trying to debug, because the tests are passing in CI.

[2021-03-17 21:34] erossignon commented on #1065
I could help as well.
I spent a significant amount of time getting into a deeper understanding of the virtual file system and script aggregation.
I am currently working on https://github.com/vercel/pkg/pull/1060 to support symlinks inside the virtual file system so that PKG can work when PNPM is used as a package manager.

[2021-03-19 02:06] david-mohr commented on #1061
@leerob just hit this same error.  Looks like it's to do with minor differences in the local node output and the version of node packaged into the exe.  I've got a workaround you can use in #1066 . I also removed `copy-paste` as it just hangs when I try to run the test locally.  All other tests pass.

Let me know if you want the test fixes in a separate PR

[2021-03-19 02:13] leerob commented on #1061
I'm good to include the test fixes in that PR!

[2021-03-19 09:55] gersirami opened #1067 "after-effects - issue"
Hello!
I'm trying to pkg my script, i'm requiring [after-effects](https://github.com/BenZed/after-effects#readme) and the .exe doesn't work.
I get this error:

`SyntaxError: unknown: Unexpected token, expected , (1:23)

    |                        ^
    at Parser.raise (D:\snapshot\Script\node_modules\babylon\lib\index.js:4454:13)
    at Parser.unexpected (D:\snapshot\Script\node_modules\babylon\

[2021-03-19 10:52] Sinamics opened #1068 "--delete--"

[2021-03-19 10:55] #1068 closed

[2021-03-19 18:52] parkertomatoes opened #1069 "int64 of undefined"
I tr

[2021-03-19 18:53] #1069 closed

[2021-03-19 20:20] jpall12 opened #1070 "Profile.json gets baked into .exe"
Hi, I want to be able to edit my Profile.json and have my code be able to read any new changes, but when packaging it bakes in the profile.json there for I'm not able to edit it. How should I go about importing this json file.

[2021-03-22 15:30] leerob commented on #1061
I did it! 🙏 🎉

https://github.com/vercel/pkg/releases/tag/4.5.0

[2021-03-22 15:30] #1061 closed

[2021-03-22 15:34] leerob commented on #1065
I've added both @jesec and @robertsLando as maintainers. @erossignon, I've added you to help triage. Thank you, all!

I've also [cut a release](https://github.com/vercel/pkg/releases/tag/4.5.0) and can manage publishing releases in the future! 🎉

[2021-03-22 15:39] leerob opened #1071 "Switch to GitHub Actions"
Would it make more sense to use GitHub actions here?

[2021-03-22 16:13] robertsLando commented on #1065
@leerob I would like to know how do you actually handle pkg-getch releases. I see in the code there is all the stuf needed to create the uploaded binaries but cannot see a github workflow for that. I would like to add support for arm32 and arm64

[2021-03-22 16:57] jesec commented on #1065
It is probably done manually in the past. I plan to push my GA workflows. They work very reliably so far. To do that, I would need access to vercel/pkg-fetch.

***

Multi architecture builds are going to be a bit trickier. To build a large application like Node.js runtime, one generally has to use cross compiler. That makes the workflows complicated.

Another trouble is that some distros (e.g. RHE

[2021-03-22 17:01] robertsLando commented on #1065
Byt adding the new `MAKE_JOB_COUNT` the builds time are 3 times faster even on emulated archs, build took around 5 hours (instead of one entire day)

[2021-03-22 17:13] jesec commented on #1065
well. everyone knows that multi threads are faster than single thread. I use `os.cpus().length` to detect automatically.

[2021-03-22 18:07] leerob commented on #1065
I've added you both to `pkg-fetch` as well!

[2021-03-22 19:08] JarnoXYZ opened #1072 "PKG will ignore half of my code"
hello, i am trying to use PKG for the first time. But it won't work for my discord message part.

client.on('message', msg => {
  if (msg.content === '!hello') {
    msg.reply(`hey`);
  }
});

It will ignore that code above. I am using ''pkg myapp.js''

[2021-03-23 06:35] jesec commented on #1065
Thanks. I received an invitation but the link is not working somehow.

[2021-03-23 07:13] robertsLando commented on #1065
Yep It's what I do also on my side, wondering if it makes sense making this default?

[2021-03-23 07:14] robertsLando commented on #1065
Didn't received any invitation yet

[2021-03-23 07:15] robertsLando commented on #1065
Also @leerob I would keep this issue open, pin it and add the help wanted label

[2021-03-23 07:45] jesec commented on #1065
For sure. This **should** be the default.

Of course, it would be nice to get more people to help. However, at this moment, I think we can manage to maintain this project just fine.

[2021-03-23 08:21] robertsLando commented on #1065
Is there any branch protecion rule in master? I would add it if not. Also is there any commit/pr message guideline? I usually follow https://www.conventionalcommits.org/en/v1.0.0/ so we can then use tools like https://github.com/conventional-changelog/conventional-changelog to create nice looking changelogs. Also I see we are using `eslint-koplov` for linting, would switch to a default lint instea

[2021-03-23 12:48] pkeuter opened #1075 "Bundling sharp doesn't work anymore since updating to 4.5.0"
Since updating to version 4.5.0 it is not possible to bundle sharp anymore. Previously this was fairly simple, by just copying the `node_modules/sharp` folder next to the build output. But this doesn't work anymore giving the following error:
[code]

I'm fairly convinced this has to do with #837 or #1066 or maybe a combination of both.

Looking at the below error message running in CI, it seems th

[2021-03-23 13:16] david-mohr commented on #1075
have you run `yarn` to ensure that prebuild-install is actually installed?

[2021-03-23 13:27] leerob commented on #1065
RIght now I'm happy with the number of maintainers to start - we can add more as needed.

- Yes, there is branch protection set up
- Open to suggestions for using conventional commits. I don't have a strong opinion.
- I'm good to switch to ESLint standard set up!
- I'm handling releases using `vercel/release`

100% should mark old issues as stale. I'd love help going through old issues and closing

[2021-03-23 13:29] jesec commented on #1075
If the mentioned changes are indeed breaking, I think we would have to revert them immediately and release a new version.

First, I would wait for a while for responses from the related parties, and see if there is a misconfiguration or if the changes can be tweaked to be non-breaking.

@pkeuter mentioned `just copying the node_modules/sharp folder next to the build output`. Is this "load from out

[2021-03-23 13:41] leerob commented on #1075
Before doing any reverting, would need to verify and confirm it is indeed a breaking change. I'm not convinced those two PRs are related yet but would love to see the investigation here.

[2021-03-23 13:44] robertsLando commented on #1065
The stale workflow added in #1074 should make a very first cleanup

[2021-03-23 13:45] jesec commented on #1065
My opinion:

* We can encourage people to write better commit messages. However, we should not **strictly** enforce a certain set of rules, as that may discourage contribution. We, as maintainers, can always tweak messages of PRs as we see fit.
* `eslint-koplov` is the personal ruleset of the previous maintainer. I definitely agree that we should switch to more standard (not necessarily that "Stan

[2021-03-23 13:52] david-mohr commented on #1075
`prebuild-install` is definitely in the package.json. @pkeuter how did you upgrade and does running 'yarn' or `npm i` fix the issue?

[2021-03-23 14:32] robertsLando commented on #1065
What that workflow does is to firslty mark the issue as stale and then if no answer is given in some weeks close it. At least all users that have opened an issue will receive a notification and will se the project is alive again and if still interested could commment back and the issue will not be closed.

Totally agree

[2021-03-23 14:37] leerob commented on #1065
Let's start with cutting down stale issues and then we can explore discussions! 🙏

[2021-03-23 14:44] pkeuter commented on #1075
I see it is in the package.json and it is also in the package-lock.json (I'm using npm):

[code]

and this is top-level the prebuild-install:
[code]

This was running in CI so there was no node_modules folder. No cache or something either.

When I look in the folder referenced `/home/peter/test/node_modules/pkg/node_modules/.bin/` I don't see the binary either.  I do see it a bit higher in `/home/

[2021-03-23 16:20] #49 closed

[2021-03-23 16:21] #186 closed

[2021-03-23 16:25] #243 closed

[2021-03-23 16:26] #242 closed

[2021-03-23 16:28] #228 closed

[2021-03-23 16:28] #209 closed

[2021-03-23 16:29] hipstersmoothie commented on #296
This is a super old version of node we will not be supporting

[2021-03-23 16:29] #296 closed

[2021-03-23 16:30] #331 closed

[2021-03-23 16:31] hipstersmoothie commented on #838
PKG only supports lts non-odd versions of node. Contributors are currently working on 14 support which should include modules

[2021-03-23 16:31] #838 closed

[2021-03-23 16:32] leerob commented on #1065
You should have permissions for pkg-fetch now 👍

[2021-03-23 16:33] hipstersmoothie commented on #281
duplicate of #121

[2021-03-23 16:33] #281 closed

[2021-03-23 16:34] hipstersmoothie commented on #279
duplicate of #137

[2021-03-23 16:34] #279 closed

[2021-03-23 16:34] #278 closed

[2021-03-23 16:35] hipstersmoothie commented on #277
duplicate of #204

[2021-03-23 16:35] #277 closed

[2021-03-23 16:35] #272 closed

[2021-03-23 16:36] hipstersmoothie commented on #265
pkg is used to bundle a node application (typically a CLI) for cross platform use. I don't think it's use case is to bundle your server, I also don't see how that would be too useful.

[2021-03-23 16:36] #265 closed

[2021-03-23 16:39] hipstersmoothie commented on #341
@adamkl is right. with pkg we can't expose this option as we build node from source and modify it with patches. either you can build your own node or use what pkg provides. we are working on making upgrades more frequent and easier

[2021-03-23 16:39] #341 closed

[2021-03-23 16:40] hipstersmoothie commented on #340
Duplicate of #328

[2021-03-23 16:40] #340 closed

[2021-03-23 16:40] #338 closed

[2021-03-23 16:40] #332 closed

[2021-03-23 16:41] #330 closed

[2021-03-23 16:41] #325 closed

[2021-03-23 16:43] hipstersmoothie commented on #429
duplicate of #292

[2021-03-23 16:43] #429 closed

[2021-03-23 16:45] hipstersmoothie commented on #352
If you want to use spread and target a node that doesn't support it you should use babel. Otherwise just use a version of node that supports the JS features you want

[2021-03-23 16:45] #352 closed

[2021-03-23 16:48] hipstersmoothie commented on #397
duplicate of #188

[2021-03-23 16:48] #397 closed

[2021-03-23 16:48] hipstersmoothie commented on #398
Seems to have been answered

[2021-03-23 16:48] #398 closed

[2021-03-23 16:49] hipstersmoothie commented on #383
duplicate of #313

[2021-03-23 16:49] #383 closed

[2021-03-23 16:49] #390 closed

[2021-03-23 16:50] hipstersmoothie commented on #395
closing dupe

[2021-03-23 16:50] #395 closed

[2021-03-23 16:50] hipstersmoothie commented on #396
closing dupe

[2021-03-23 16:50] #396 closed

[2021-03-23 16:51] hipstersmoothie commented on #374
duplicate of #188

[2021-03-23 16:51] #374 closed

[2021-03-23 16:51] #373 closed

[2021-03-23 16:51] #372 closed

[2021-03-23 16:54] hipstersmoothie commented on #140
duplicate of #137

[2021-03-23 16:54] #140 closed

[2021-03-23 16:57] hipstersmoothie commented on #436
pkg is meant for compiling your entire app into a binary. Making it into modules won't work, there is another issue for excluding files #313

[2021-03-23 16:57] #436 closed

[2021-03-23 16:57] #435 closed

[2021-03-23 16:59] hipstersmoothie commented on #427
duplicate of #135

[2021-03-23 16:59] #427 closed

[2021-03-23 17:00] hipstersmoothie commented on #306
duplicate of #135

[2021-03-23 17:00] #306 closed

[2021-03-23 17:01] hipstersmoothie commented on #381
pkg snapshot file system is read only. closing issue

[2021-03-23 17:02] #359 closed

[2021-03-23 17:05] robertsLando commented on #137
You can use pm2 for such purpose. If looking for clusters I suggest to use node cluster module instead of rely on pm2

[2021-03-23 17:05] #137 closed

[2021-03-23 17:10] hipstersmoothie commented on #520
duplicate of #135

[2021-03-23 17:10] #520 closed

[2021-03-23 17:12] hipstersmoothie commented on #659
duplicate of #559

[2021-03-23 17:12] #659 closed

[2021-03-23 17:13] hipstersmoothie commented on #551
PKG only support a subset of node versions. We currently support 10.15.3

[2021-03-23 17:13] #551 closed

[2021-03-23 21:26] david-mohr commented on #1075
@pkeuter ah yes, I see what you mean now. Here's the target reference https://github.com/vercel/pkg/blob/master/lib/producer.js#L100. As you say, `yarn` handles this differently which is why it worked fine during testing. I also have my `pkg` install globally.

If you know how to change the path to handle any combination of situations (local/global, yarn/npm) that would be great.

[2021-03-24 16:15] hipstersmoothie commented on #492
closing since this is a dupe of #342

[2021-03-24 16:15] #492 closed

[2021-03-24 16:17] hipstersmoothie commented on #456
closing in favor of #477

[2021-03-24 16:17] #456 closed

[2021-03-24 16:17] hipstersmoothie commented on #426
closing in favor of #477

[2021-03-24 16:17] #426 closed

[2021-03-24 16:17] hipstersmoothie commented on #424
closing in favor of #477

[2021-03-24 16:17] #424 closed

[2021-03-24 17:01] pkeuter commented on #1075
@david-mohr I do not know a solution right away, but the fact is that this is, indeed, a breaking change so it might be useful to revert the change in a new release until this has been resolved. Because pkg is currently broken for npm users that use native modules.

[2021-03-24 22:42] ajfranzoia opened #1089 "sqlite3.node for Windows"

[2021-03-24 22:42] #1089 closed

[2021-03-24 22:58] hipstersmoothie commented on #834
node 13 is not a supported version. but pkg does now ship newer versions on node

[2021-03-24 22:58] #834 closed

[2021-03-24 22:59] #864 closed

[2021-03-24 23:02] #857 closed

[2021-03-24 23:02] #855 closed

[2021-03-24 23:02] #847 closed

[2021-03-24 23:02] #846 closed

[2021-03-24 23:05] #815 closed

[2021-03-24 23:06] #809 closed

[2021-03-24 23:06] #799 closed

[2021-03-24 23:06] #796 closed

[2021-03-24 23:06] #793 closed

[2021-03-24 23:07] hipstersmoothie commented on #789
This is outside the scope of `pkg`

[2021-03-24 23:07] #789 closed

[2021-03-24 23:07] #786 closed

[2021-03-24 23:07] #785 closed

[2021-03-24 23:09] #780 closed

[2021-03-24 23:09] #777 closed

[2021-03-24 23:10] david-mohr commented on #1075
@pkeuter I think this can be patched to work with both `npm` and `yarn`, but if it needs to be backed out, that's fine too.

@leerob guess it's your call. To fix this, the function can use existsSync to hunt around for the path. Otherwise just back it out, it doesn't seem that other users are interested in cross-platform support, so it's not really a helpful patch.

[2021-03-24 23:10] #772 closed

[2021-03-24 23:10] #770 closed

[2021-03-24 23:10] #765 closed

[2021-03-24 23:11] #764 closed

[2021-03-24 23:11] hipstersmoothie commented on #763
No reproduction repo and it's been a year since updates. Closing, feel free to open a new issue with a reproduction repo if the problem still exists!

[2021-03-24 23:11] #763 closed

[2021-03-24 23:14] hipstersmoothie commented on #746
@robertsLando Is this still an issue?

[2021-03-24 23:15] #734 closed

[2021-03-24 23:17] #725 closed

[2021-03-24 23:17] hipstersmoothie commented on #724
No reproduction repo and it's been a year since updates. Closing, feel free to open a new issue with a reproduction repo if the problem still exists!

[2021-03-24 23:17] #724 closed

[2021-03-24 23:17] #722 closed

[2021-03-24 23:18] #709 closed

[2021-03-24 23:18] #708 closed

[2021-03-24 23:20] #700 closed

[2021-03-24 23:20] #699 closed

[2021-03-24 23:21] hipstersmoothie commented on #697
This is outside the scope of `pkg`

[2021-03-24 23:21] #697 closed

[2021-03-24 23:21] hipstersmoothie commented on #696
closing as this issue is a dupe

[2021-03-24 23:21] #696 closed

[2021-03-24 23:21] #694 closed

[2021-03-24 23:22] hipstersmoothie commented on #691
No reproduction repo and it's been a year since updates. Closing, feel free to open a new issue with a reproduction repo if the problem still exists!

[2021-03-24 23:22] #691 closed

[2021-03-24 23:22] #683 closed

[2021-03-24 23:22] hipstersmoothie commented on #682
You should install the dep

[2021-03-24 23:22] #682 closed

[2021-03-24 23:24] hipstersmoothie commented on #678
You should compile your app first then use `pkg`. TypeScript API support is separate. @KillWolfVlad Please open an issue for that

[2021-03-24 23:24] #678 closed

[2021-03-24 23:24] #676 closed

[2021-03-24 23:24] #674 closed

[2021-03-24 23:24] hipstersmoothie commented on #673
Node 12 is now supported

[2021-03-24 23:24] #673 closed

[2021-03-24 23:25] #667 closed

[2021-03-24 23:27] #632 closed

[2021-03-24 23:28] #616 closed

[2021-03-24 23:31] hipstersmoothie commented on #590
You should add those files as [assets](https://github.com/vercel/pkg#assets)

[2021-03-24 23:31] #590 closed

[2021-03-24 23:31] hipstersmoothie commented on #589
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:31] #589 closed

[2021-03-24 23:32] hipstersmoothie commented on #586
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:32] #586 closed

[2021-03-24 23:32] #578 closed

[2021-03-24 23:32] #563 closed

[2021-03-24 23:33] hipstersmoothie commented on #549
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:33] #549 closed

[2021-03-24 23:33] hipstersmoothie commented on #548
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:33] #548 closed

[2021-03-24 23:34] #530 closed

[2021-03-24 23:34] #537 closed

[2021-03-24 23:34] hipstersmoothie commented on #540
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:34] #540 closed

[2021-03-24 23:36] #524 closed

[2021-03-24 23:36] #523 closed

[2021-03-24 23:36] #518 closed

[2021-03-24 23:38] #503 closed

[2021-03-24 23:38] #500 closed

[2021-03-24 23:39] #498 closed

[2021-03-24 23:39] hipstersmoothie commented on #493
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:39] #493 closed

[2021-03-24 23:39] hipstersmoothie commented on #489
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:39] #489 closed

[2021-03-24 23:40] hipstersmoothie commented on #480
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:40] #480 closed

[2021-03-24 23:43] #468 closed

[2021-03-24 23:43] #449 closed

[2021-03-24 23:43] hipstersmoothie commented on #437
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:43] #437 closed

[2021-03-24 23:44] hipstersmoothie commented on #432
newer node versions should support this

[2021-03-24 23:44] #432 closed

[2021-03-24 23:44] #431 closed

[2021-03-24 23:44] hipstersmoothie commented on #423
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:44] #423 closed

[2021-03-24 23:44] #413 closed

[2021-03-24 23:45] #419 closed

[2021-03-24 23:45] #402 closed

[2021-03-24 23:46] hipstersmoothie commented on #401
This is outside the scope of pkg

[2021-03-24 23:46] #401 closed

[2021-03-24 23:46] #400 closed

[2021-03-24 23:47] #388 closed

[2021-03-24 23:47] #382 closed

[2021-03-24 23:47] hipstersmoothie commented on #378
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:47] #378 closed

[2021-03-24 23:48] hipstersmoothie commented on #371
You must transpile your code down to es5

[2021-03-24 23:48] #371 closed

[2021-03-24 23:48] hipstersmoothie commented on #370
You would need to include these files as an asset or script

[2021-03-24 23:48] #370 closed

[2021-03-24 23:48] #364 closed

[2021-03-24 23:49] hipstersmoothie commented on #360
this is outside the scope of pkg

[2021-03-24 23:49] #360 closed

[2021-03-24 23:49] hipstersmoothie commented on #355
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:49] #355 closed

[2021-03-24 23:49] hipstersmoothie commented on #353
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:49] #353 closed

[2021-03-24 23:50] hipstersmoothie commented on #349
pkg requires you to transpile code first, this is outside the scope of pkg

[2021-03-24 23:50] #349 closed

[2021-03-24 23:50] #344 closed

[2021-03-24 23:50] hipstersmoothie commented on #315
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:50] #315 closed

[2021-03-24 23:51] hipstersmoothie commented on #327
This issue is pretty old with no reproduction repo. If this issue still persists feel free to open a new issue with a reproduction repo!

[2021-03-24 23:51] #327 closed

[2021-03-24 23:54] hipstersmoothie commented on #1008
pkg does custom builds of node. it's easier to manage if it's only LTS versions

[2021-03-24 23:54] #1008 closed

[2021-03-24 23:55] #1004 closed

[2021-03-24 23:56] #988 closed

[2021-03-24 23:57] #984 closed

[2021-03-24 23:57] hipstersmoothie commented on #984
Just choose a binary that support optional chaining or transpile your code before running `pkg`

[2021-03-24 23:58] #983 closed

[2021-03-24 23:58] #980 closed

[2021-03-24 23:59] #963 closed

[2021-03-24 23:59] #959 closed

[2021-03-24 23:59] iranapporg commented on #959
در اولین فرصت به پیام شما پاسخ داده خواهد شد
با تشکر از پیام شما مدیریت کامپیوتر دانشجو
www.iranapp.org

[2021-03-24 23:59] hipstersmoothie commented on #962
You should configure that file as an asset for pkg. See readme

[2021-03-24 23:59] #962 closed

[2021-03-25 00:01] hipstersmoothie commented on #976
Closing because this is a dupe of #782

[2021-03-25 00:01] #976 closed

[2021-03-25 00:01] hipstersmoothie commented on #526
closing duplicate of #782

[2021-03-25 00:01] #526 closed

[2021-03-25 00:01] hipstersmoothie commented on #335
closing duplicate of #782

[2021-03-25 00:01] #335 closed

[2021-03-25 00:02] hipstersmoothie commented on #727
closing duplicate of #782

[2021-03-25 00:02] #727 closed

[2021-03-25 00:02] hipstersmoothie commented on #920
closing duplicate of #782

[2021-03-25 00:02] #920 closed

[2021-03-25 00:02] hipstersmoothie commented on #926
closing duplicate of #782

[2021-03-25 00:02] #926 closed

[2021-03-25 00:02] hipstersmoothie commented on #954
closing duplicate of #782

[2021-03-25 00:02] #954 closed

[2021-03-25 00:03] hipstersmoothie commented on #1016
No reproduction repo. If the issue persists feel free to open a new issue with a reproduction repo!

[2021-03-25 00:03] #1016 closed

[2021-03-25 00:04] hipstersmoothie commented on #1014
We try to change the node builds as little as possible. This is not something I think we'd be willing to modify

[2021-03-25 00:04] #1014 closed

[2021-03-25 00:05] #999 closed

[2021-03-25 00:06] hipstersmoothie commented on #565
If you include a lot of code, pkg will create big binaries 🤷

[2021-03-25 00:06] #565 closed

[2021-03-25 00:06] #214 closed

[2021-03-25 00:07] hipstersmoothie commented on #968
No reproduction repo. If the issue persists feel free to open a new issue with a reproduction repo!

[2021-03-25 00:07] #968 closed

[2021-03-25 00:07] hipstersmoothie commented on #953
No reproduction repo. If the issue persists feel free to open a new issue with a reproduction repo!

[2021-03-25 00:07] #953 closed

[2021-03-25 00:07] hipstersmoothie commented on #952
No reproduction repo. If the issue persists feel free to open a new issue with a reproduction repo!

[2021-03-25 00:07] #952 closed

[2021-03-25 00:08] #944 closed

[2021-03-25 00:09] #937 closed

[2021-03-25 00:10] #935 closed

[2021-03-25 00:10] #933 closed

[2021-03-25 00:10] hipstersmoothie commented on #931
this is outside the scope of pkg

[2021-03-25 00:10] #931 closed

[2021-03-25 00:10] hipstersmoothie commented on #911
No reproduction repo. If the issue persists feel free to open a new issue with a reproduction repo!

[2021-03-25 00:10] #911 closed

[2021-03-25 00:11] hipstersmoothie commented on #910
No reproduction repo. If the issue persists feel free to open a new issue with a reproduction repo!

[2021-03-25 00:11] #910 closed

[2021-03-25 00:11] hipstersmoothie commented on #903
No reproduction repo. If the issue persists feel free to open a new issue with a reproduction repo!

[2021-03-25 00:11] #903 closed

[2021-03-25 00:11] hipstersmoothie commented on #899
No reproduction repo. If the issue persists feel free to open a new issue with a reproduction repo!

[2021-03-25 00:11] #899 closed

[2021-03-25 00:12] #211 closed

[2021-03-25 00:12] hipstersmoothie commented on #895
duplicate of #782

[2021-03-25 00:12] #895 closed

[2021-03-25 00:13] #851 closed

[2021-03-25 00:14] #802 closed

[2021-03-25 00:36] leerob opened #1090 "Switch to main branch"
Once we clean up open issues, let's rename to the `main` branch. It's really easy to do through the GitHub UI.

[2021-03-25 00:36] leerob commented on #1071
Fixed https://github.com/vercel/pkg/pull/1074

[2021-03-25 00:36] #1071 closed

[2021-03-25 00:37] leerob commented on #1067
Please provide a reproducible example, thank you! 🙏

[2021-03-25 00:37] #1067 closed

[2021-03-25 00:44] leerob commented on #1075
I'm sorry you're having this issue @pkeuter ☹️ It currently appears it's isolated to one report. Given that, I'd say we patch forward. Cross-platform support seems like something we would want to support.

[2021-03-25 00:44] liudonghua123 commented on #578
@KaoSDlanor Thanks, I tried to compress it using zip or 7z, it reduced almost 2/3 in size.

[2021-03-25 00:45] leerob commented on #847
Thank you for cleaning up issues @hipstersmoothie 🙏

[2021-03-25 01:19] absalomedia opened #1091 "Node 8.10 breaking"
Doing a clean install on a Node 8 platform and PKG is reporting this
`/usr/local/lib/node_modules/pkg/node_modules/globby/index.js:28
	} catch {
	        ^

SyntaxError: Unexpected token {`

Any ideas why globby is broken inside PKG?

[2021-03-25 01:31] #919 closed

[2021-03-25 01:33] ljharb commented on #943
ping - the browser field has a spec, vercel should follow it.

(also, bots closing issues is user-hostile)

[2021-03-25 01:49] leerob commented on #943
@ljharb This isn't a Vercel platform issue – this is related to `pkg` specifically. See README:

Using a stale bot is a common solution for maintaining open-source projects. Especially as we're trying to clean up years of issues here which haven't been responded to. Thanks for your feedback, though!

[2021-03-25 01:49] #943 closed

[2021-03-25 01:50] leerob commented on #943
Locking this to prevent hostility - will re-open if there are more reports. Thank you!

[2021-03-25 05:00] #832 closed

[2021-03-25 08:39] cupcakearmy commented on #969
Not resolved, tested it a few weeks ago

[2021-03-25 08:42] robertsLando commented on #969
@cupcakearmy Please try to test this again, it should be fixed in 4.5.0

[2021-03-25 08:43] robertsLando commented on #746
Yeah, I had to fix this by creating a script that moves the files from node modules and put them back after compilation, I think we should skip some files like .vue

[2021-03-25 08:51] cupcakearmy commented on #1017
btw it's a duplicate of https://github.com/vercel/pkg/issues/969 i believe :)

[2021-03-25 08:57] cupcakearmy commented on #969
Just tried with `4.5.0`

**node12.2.0-linux-armv7**

[code]

**node12-linux-armv7**

[code]

**latest-linux-armv7**

[code]

The most relevant maybe is the target `node12.2.0-linux-armv7` where it downloads the binary correctly but then goes on wanting to download `uploaded-v2.6-node-v12.2.0-macos-armv7` which is clearly still the bug of wrongly parsing the target.

[2021-03-25 09:04] sergiz commented on #842
Not stale.

[2021-03-25 09:04] sergiz commented on #850
Not stale.

[2021-03-25 09:04] robertsLando commented on #969
What's the output of `uname -a` command?

[2021-03-25 09:09] robertsLando commented on #842
@sergiz PR?

[2021-03-25 09:11] cupcakearmy commented on #969
Darwin 20.3.0 on x86. I'm on macOS

[2021-03-25 09:21] robertsLando commented on #969
@cupcakearmy Could yu try with `yarn pkg dist/index.js --target node12.2.0-linux-armv7 --out-path bin` ?

Note `--target` instead of `--targets`

[2021-03-25 09:33] robertsLando commented on #850
@jesec @leerob Any clue? I know that we actually patch the fs module in nodejs source to make pkg work, afaik fs-extra should extend it but maybe could cause some conflicts?

[2021-03-25 10:09] cupcakearmy commented on #969
No luck unfortunately

[code]

[2021-03-25 10:23] robertsLando commented on #969
I have a feeling that the probelm could be due to the `yarn run` command.

Just to be sure could you try to install pkg globally and retry the command?

[code]

[2021-03-25 10:25] cupcakearmy commented on #969
[code]

[2021-03-25 10:29] robertsLando commented on #969
@cupcakearmy I cannot undesrtand why the targets are wrongly parsed from the command you are sending... what I could suggest you is to manually debug it on your side by placing a breakpoint [here](https://github.com/vercel/pkg/blob/master/lib/index.js#L38) and see where the parse is failing

[2021-03-25 11:00] robertsLando opened #1093 "Merge some fixes found in forks"
I would merge this fixes I found in forks:

- fs.promises support: https://github.com/leafac/pkg/commit/ccc29eadc33f7a92179a68614e9d7ab1b5017e6c
- Fix for windows modules: https://github.com/kkoomen/pkg/commits/master (last 2 commits)

Also I would like to ask @leafac if he is interested helping improve this project.

He is creating [caxa](https://github.com/leafac/caxa) that is another nodejs too

[2021-03-25 11:02] robertsLando commented on #1093
cc @leerob @jesec @hipstersmoothie

[2021-03-25 11:05] robertsLando commented on #1093
See https://github.com/vercel/pkg/pull/1094/files

[2021-03-25 11:44] leafac commented on #1093
I think the forks you mentioned have already been merged.

I’m in for a collaboration between pkg and caxa.

[2021-03-25 12:38] robertsLando commented on #1093
Nope at least I don't see the promises fix in master. Could you make a PR for that specific fix so we can split the #1095 ?

[2021-03-25 14:45] leerob commented on #1093
Works for me!

[2021-03-25 16:19] robertsLando commented on #1093
What you mean? :) How could we contribute together?

[2021-03-25 16:36] robertsLando commented on #1055
Sourceless is a flag added in order to be able to run node without source code, it's the main reason why patch files are needed right now

[2021-03-25 16:36] #1055 closed

[2021-03-25 16:38] jesec commented on #1093
caxa uses a very different method. I think we should keep our own method for the time being. It is well tested in production and trusted by our users.

IMO we should be cautious about the other changes. They may be breaking and can erode confidence in the project if merged without being thoroughly tested, and they probably will not bring us significant immediate benefits. `pkg` is around for a lon

[2021-03-25 16:41] hipstersmoothie commented on #1093
Yeah I think this should be top priority for `pkg`. New features should be at a minimum, focus should mainly be on:

- security updates
- node updates
- maturing CI so we can be more confident in the above updates

[2021-03-25 16:42] leerob commented on #1093
Agreed - there's some tech debt to fix first 😄

[2021-03-25 16:45] robertsLando commented on #1093
I agree too @jesec The fork I found are mainly fixes not features. What I would consider btw is #1096 as it sort out the main issue with pkg: `.node` files

[2021-03-25 16:52] BryanEnid commented on #872
No luck yet

[2021-03-25 16:55] hipstersmoothie commented on #1093
Yeah going over the issue I saw many issues that related to `.node` files

[2021-03-25 16:56] NyboTV opened #1097 "fetched-v14.16.0-win-x64 Error! 404 Not Found pkg-fetch 2.7"
**My Command:**
PS P:\Dieser PC\Desktop\Fs19Dummy\1Discord-Bot\AutoUpdater\player\autoupdaterv3\NyboTV> pkg . --targets=node14-win-x64

**###Console:**

  fetched-v14.16.0-win-x64     [                    ] 0%

  https://github.com/zeit/pkg-fetch/releases/download/v2.7/uploaded-v2.7-node-v14.16.0-win-x64

  {"tag":"v2.7","name":"uploaded-v2.7-node-v14.16.0-win-x64"}

  {"tag":"v2.7","name":"upload

[2021-03-25 16:57] jesec commented on #1093
Well. The distinction between additions and fixes is not always clear. `pkg` does not support some use cases before, and that more or less becomes the “expected behavior” over time. So those new changes can be effectively “feature additions” instead of “fixes”.

I am AFK right now due to some “real life” things.

Feel free to work on CI workflows for pkg-fetch. Check my pkg-fetch repo for some ide

[2021-03-25 17:00] hipstersmoothie commented on #1097
@robertsLando is this the issue you were referring to in the npm release thread?

[2021-03-25 17:02] robertsLando commented on #1097
yeah...

[2021-03-25 17:13] robertsLando commented on #1097
Download is handled here: https://github.com/vercel/pkg-fetch/blob/master/lib/cloud.js#L55

It uses pkg fetch version tag in the format `v${major}.${minnor}` to get the release, once it gets the release it checks in the release assets for the binaries to download but atm that's empty.

@NyboTV I think that you made a mistake BTW as 4.5.0 is still shipped with pkg-fetch@2.6.9 so this issue means yo

[2021-03-25 17:16] NyboTV commented on #1097
well... @robertsLando

Im remaking my Bot... in my old bot its still working... (4.5.0)
and i just fresh installed pkg on my local pc to test the remade bot... then i got this issue... so idk what i did wrong... only typed "npm i pkg" xD But well...

[2021-03-25 17:17] robertsLando commented on #1097
If you check node modules you will see it has pèkg-fetch 2.7.0 instead 2.6.9

[2021-03-25 17:19] NyboTV commented on #1097
Well... i mean i just copied the working version into my new bot... :D Now its working... But i thought the Coder has to see the issue

[2021-03-25 17:24] robertsLando commented on #1097
Wait we have a probelm here:

[code]

Seems that installing `pkg` install it with pkg-fetch@2.7.0 :fearful:

@leerob I suggest to remove the release from npm until we decide how to sort this out or all users installing 4.5.0 will have the same issue...

[2021-03-25 18:53] erossignon commented on #1090
What for? 'master' works well

[2021-03-25 18:55] leerob commented on #1097
I am not allowed to unpublish.

[code]

[2021-03-25 18:56] leerob commented on #1090
Info here -> https://github.com/github/renaming

[2021-03-25 18:59] leerob commented on #1097
I deprecated it instead.

[code]

[2021-03-25 18:59] leerob commented on #1097
Should we release a new patch version instead?

[2021-03-25 19:07] leerob commented on #1097
Released 2.6.10 and deprecated 2.7.0. This should solve things, let me know if it doesn't.

[2021-03-25 19:19] nrfribeiro commented on #1097
Hi,
I don't think it solved. Now I'm getting the following error

  https://github.com/zeit/pkg-fetch/releases/download/v2.6/uploaded-v2.6-node-v14.16.0-alpine-x64

  {"tag":"v2.6","name":"uploaded-v2.6-node-v14.16.0-alpine-x64"}

[2021-03-25 19:39] robertsLando commented on #1097
It just means that version is not present, you should try to specify an existing version

[2021-03-25 19:40] kybarg commented on #1097
`npm install pkg-fetch@2.6.9` worked for me for now

[2021-03-25 19:42] NikosFotiadis opened #1098 "Not finding binary"
Error from docker
[code]
Using the exact same code I was using to build 4 hours ago and It was working fine until then.

I am targeting alpine. This is the command I am using
[code]
From what I can see this `uploaded-v2.6-node-v14.16.0-alpine-x64` is missing entirely from the assets

[2021-03-25 19:56] robertsLando commented on #1098
In the command please specify node14.4.0 instead of node14

[2021-03-25 19:57] robertsLando commented on #1097
Someone knows why the hell when pkg installs it get latest pkg-fetch version instead of the one specified in package.json? Is it something weird in yarn.lock maybe? @hipstersmoothie @leerob

[2021-03-25 20:05] NikosFotiadis commented on #1098
Thanks, that works.

[2021-03-25 20:07] leafac commented on #1093
Weird: https://github.com/vercel/pkg/issues/455#issuecomment-790657804 / https://github.com/vercel/pkg/issues/958#issuecomment-790657873

caxa does some things better than pkg: Support all Node.js versions, not having to patch the Node.js build, support native extensions in a more natural way, not having to specify which assets to include in the binary, smaller binary sizes, and so forth.

pkg doe

[2021-03-25 20:07] BarelyAliveMau5 commented on #1098
I had the same issue, using `pkg -t node14.4.0` worked

[2021-03-25 20:08] robertsLando commented on #1098
Will fix this tomorrow btw, for now take that

[2021-03-25 20:30] btsimonh commented on #1093
'Support all Node.js versions' - why? - surely most people have issue with it not supporting the latest LTS +? (for ages, I was stuck on 6.9.11, a great version, but updating to 12 was complex in my (private) nexe branch.  14 is next, but not looking forward to it).

'Protect the source code by using a V8 snapshot' - using the snapshot to include the protected code really screws osx distribution (

[2021-03-25 22:06] hipstersmoothie commented on #1097
It's cause `pkg` installs `pkg-fetch` with `^` which can pull in `>= 2.x`. We should probably pin the dep for now until we figure out moving binaries between the GitHub releases

[2021-03-26 00:30] tcolar commented on #1097
yeah when I install ` yarn add pkg@4.4.9`
I still endup with pkg-fetch  2.6.10

[code]

[2021-03-26 07:53] robertsLando commented on #1097
@hipstersmoothie I would make it a fixed deps and remove the ^

[2021-03-26 07:54] robertsLando commented on #1097
https://github.com/vercel/pkg/pull/1100

[2021-03-26 08:02] robertsLando commented on #1093
@leafac Seems that the native addons one has been merged, the promises fix was not

Personally I'm +1 for any kind of collaboration, I think that join forces is more productive then have multiple different projects, btw we should define a roadmap and decide what changes need to be done

[2021-03-26 10:00] novast opened #1101 "node-v12.21.0 404 Not Found"
pkg .

  fetched-v12.21.0-linux-x64   [                    ] 0%

  https://github.com/zeit/pkg-fetch/releases/download/v2.6/uploaded-v2.6-node-v12.21.0-linux-x64

  {"tag":"v2.6","name":"uploaded-v2.6-node-v12.21.0-linux-x64"}

  {"tag":"v2.6","name":"uploaded-v2.6-node-v12.21.0-linux-x64"}

  built-v12.21.0-linux-x64

  git                          [====================] 100%

  make

[2021-03-26 10:36] JeffJassky commented on #1072
it looks to me like ```hey``` is a missing variable and not a string. Is ```hey``` defined as a variable somewhere beforehand?

[2021-03-26 10:55] robertsLando commented on #1101
Please use fixed version `12.2.0` for node to fix this

[2021-03-26 10:56] robertsLando commented on #1072
pkg doens't ignore any code, does it actually work if you run the app with node myapp.js?

[2021-03-26 11:52] JeffJassky commented on #1075
The problem here is that the path to the prebuild script is being built incorrectly.

The error is in ```pkg/lib-es5/producer.js``` on line 134:
`const prebuild = _path.default.join(__dirname, './node_modules/.bin/prebuild-install');`

I fixed it by changing it to:
`const prebuild = _path.default.join(process.cwd(), './node_modules/.bin/prebuild-install');`

This may not necessarily be the most bu

[2021-03-26 12:47] robertsLando commented on #1075
@JeffJassky  Usually this kind of problems are fixed by dictionaries. You need to edit this https://github.com/vercel/pkg/blob/master/dictionary/sqlite3.js see an example here: https://github.com/vercel/pkg/blob/master/dictionary/puppeteer.js

[2021-03-26 12:59] robertsLando commented on #1098
Please refer to: https://github.com/vercel/pkg-fetch/issues/137

[2021-03-26 12:59] #1098 closed

[2021-03-26 12:59] robertsLando commented on #1101
Please refer to: https://github.com/vercel/pkg-fetch/issues/137

[2021-03-26 12:59] #1101 closed

[2021-03-26 13:19] robertsLando commented on #1091
It depends on the version of globby you are using but in its readme it reports compatibility with node >= 10 so that could be the root cause https://github.com/sindresorhus/globby/blob/main/package.json#L14

[2021-03-26 13:19] #1091 closed

[2021-03-26 13:20] robertsLando commented on #1017
This should be fixed in 4.5.0

[2021-03-26 13:20] #1017 closed

[2021-03-26 13:24] JeffJassky commented on #1075
@robertsLando I sort-of understand. These are package-specific config files for pkg - though I don't precisely know what I should put in there because I don't quite understand what the problem is to begin with.

[2021-03-26 13:32] robertsLando commented on #1075
I'm not the author of this package I have just take a general lookup of the code and from what I have understand that's a collection of package-specific fixes. With the you can specify patches (replace/add/remove code from files) and or additional assets/scripts to add for a specific package like:

[code]

In your case I think a possible fix could be adding the assets needed here in the sqlite3 di

[2021-03-26 14:11] JeffJassky commented on #687
Same here.

[2021-03-26 14:19] leerob commented on #881
https://github.com/vercel/pkg/pull/880

[2021-03-26 14:19] #881 closed

[2021-03-26 14:27] JeffJassky commented on #1093
@btsimonh Regarding OSX code signing/notarizing: I know there are some issues currently. I don't know many details but I have a solution that actually works well for my distribution needs.

# My distribution
My main app (electron) is signed and notarized. It's a dumb front-end terminal with little business logic. Once the user opens it, it fetches my pkg executable from an S3 server. Once fetched,

[2021-03-26 14:32] JeffJassky commented on #1075
@robertsLando After looking into it further, the .node module is actually getting included in the snapshot - in the exact correct location. The plot thickens.

Seems to be related directly to #1075, possibly #894, and #687

[2021-03-26 14:36] robertsLando commented on #1075
We might check where the lookup fails so. Based on what I understand native node modules behaves different then normal assets, them are copied in a temporary folder iin order to be used, maybe the lookup or the copy fails somewhere. That feature has been added in #837. Did you alo try to put the node addon in the same root dir of the application to see if that works?

[2021-03-26 14:41] JeffJassky commented on #1075
@robertsLando That's exactly what I was thinking it could be. I'll look into your references now.

Putting the .node module directly next to the executable didn't work. It only worked when a node_modules folder was placed next to the executable with the .node module nested deeply inside.

[2021-03-26 15:29] JeffJassky commented on #1075
@robertsLando you were right on with the dlopen function. I have found a workaround but don't fully grasp the scope of the problem.

# The Extended-Length Path Prefix problem
It seems that in some (possibly all) cases, on Windows, the paths of manually included assets in the snapshot use "extended length prefixes".

For example, the path to my file was `\\?\\C:\\snapshot\\StoryFolderDesktop\\node_

[2021-03-26 15:40] robertsLando commented on #1075
@JeffJassky Maybe this could fix [this](https://github.com/vercel/pkg/commit/1c219c8575ff010237ccdf9c0a10b8741c0051ef#diff-0c3f42fd6825d8d5b4d0422402a89ff11dc1d1cfb52ee5901f4774e503783c27R1709) function could fix the issue?

[2021-03-26 15:45] robertsLando commented on #1075
@JeffJassky By looking again the code I think this has been fixed in #1095 Could you give a try to pkg@4.5.1 just to be sure?

[2021-03-26 15:49] JeffJassky commented on #1075
@robertsLando @4.5.1 gives me this:`Uncaught Exception: 2
Caught exception: Error: Directory 'C:\**\StoryFolderDesktop\node_modules\sqlite3\lib\binding\napi-v3-win32-x64' was not included into executable at compilation stage. Please recompile adding it as asset or script.
Exception origin: uncaughtException`

which is interesting for a few reasons. The prefix changed, and it moved, and double slas

[2021-03-26 15:54] robertsLando commented on #1075
@JeffJassky Maybe: https://github.com/vercel/pkg/pull/1103 ?

[2021-03-26 15:55] JeffJassky commented on #1075
How can I install and test a specific commit like that? Never done it :)

[2021-03-26 15:59] robertsLando commented on #1075
@JeffJassky You should

[code]

Then inside your repo:

[code]

[2021-03-26 16:06] JeffJassky commented on #1075
@robertsLando Identical error to the above: https://github.com/vercel/pkg/issues/1075#issuecomment-808325105

I made sure to uninstall pkg from my repo to ensure it built using the linked package. It built well but still has a messed-up path.

[2021-03-26 16:29] robertsLando commented on #1075
@JeffJassky the sanitize function should also take care of that and replace it too, are you using latest changes from the branch? Could you retry to pull it?

[2021-03-26 16:30] JeffJassky commented on #1075
It's up to date. The function looks like this:
[code]

I'm running tests with it and the regex test doesn't pass.

[2021-03-26 16:40] rauchg opened #1104 "Better error messages with hyperlinks"
![image](https://user-images.githubusercontent.com/13041/112664463-3afd4180-8e17-11eb-8680-d6f73cc09440.png)

- It took me a while to understand this error message. I thought it meant I didn't have Node 15 locally
- It'd be great to link all error messages to markdown files in the repo so that we can expand and improve them over time

[2021-03-26 18:04] JeffJassky commented on #1075
The extra \**\ stuff is getting added here: https://github.com/vercel/pkg/blob/cceb78a6842dcc8e1fbd12d9ee7b835af7d7a7f4/prelude/common.js#L188

I'm having trouble understanding why it won't build in 4.5.1 but I can easily work around the issues in 4.5.0.

[2021-03-26 18:21] robertsLando commented on #1075
You shoul add a case |\\\*\* at the end of the regex and it will work. Not on my pc right now but try it

[2021-03-26 22:13] erossignon commented on #941
This is not stale

[2021-03-26 22:16] erossignon commented on #885
Instead of compressing the exectuable, we could at least compress the files inside the embedded virtual file system.

[2021-03-26 22:20] erossignon commented on #578
see also #885

[2021-03-28 09:32] robertsLando commented on #885
@erossignon This is interesting, any idea about how to do this?

[2021-03-28 17:12] whexberg commented on #177
**TLDR** Using the '--no-bytecode' flag creates reproducible builds, but also puts your source code directly in the executable. Running without the flag compiles your source code to bytecode, which makes it a little harder to get the source, but builds are not reproducible.

@leerob Actually, contributing sounded fun, so yesterday, I spent almost the entire day digging through the code. I narrowed